In [1]:
from finance_python.stock import stock
from finance_python.industry import industry
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [2]:
symbols = ['MG.TO']
start = date.today() - timedelta(days=365)
end = date.today()

In [3]:
stock_loop = lambda x: stock(x, start, end)

In [4]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

3.523660182952881

In [5]:
MG = stocks[0]

In [6]:
MG.description

'Magna International Inc. designs, develops, and manufactures automotive systems, assemblies, modules, and components in North America, Europe, Asia Pacific, and internationally. The Body Exteriors  Structures segment provides body structures; chassis structures, such as frame and structural assemblies, chassis subframes, and suspension systems; exterior systems and modules, including hoods, roofs, door panels, front end modules, liftgate modules, polycarbonate roof panels, liftgate sensor integration systems, and fascia; trim and automotive jewelry comprises engineered glass, trim and roof racks, and running boards; non-visible and visible active grille shutters, active air deflectors, and underbody panels; and fuel systems, pipes and components, and alternative energy storage systems. Its Power  Vision segment offers manual, hybrid, and dual-clutch transmissions systems; mild hybrid solutions; high voltage edrives and electrified components; chassis, glow plug control, powertrain control, and mechatronic control modules; four-wheel drive, all-wheel drive, and disconnect systems; thermal management and lubrication systems; transmission clutch/carrier components, precision stampings and shafts, and automated driving systems; latching systems, door modules, power closures, hinges and wireforming, and handles; interior and exterior mirrors, and actuators; and front and rear lighting, tail lamps, and other lighting products. The Seating Systems segment provides recliners, manual and power adjusters, and seat structures. Its Complete Vehicles segment offers modular solutions for system and parts, as well as complete vehicle manufacturing services. The company serves original equipment manufacturer and non-automotive customers, as well as tier 1 companies, and medium and heavy truck manufacturers. Magna International Inc. was founded in 1957 and is based in Aurora, Canada.'

In [7]:
MG.sector

'Auto Parts'

In [8]:
MG.price

66.66

In [9]:
MG.dividends

[                                                Date       Dividends
 0                                       Aug 22, 2019  0.485 Dividend
 1                                       May 23, 2019  0.365 Dividend
 2                                       Mar 07, 2019  0.365 Dividend
 3                                       Nov 22, 2018   0.33 Dividend
 4                                       Nov 21, 2018   0.33 Dividend
 5  *Close price adjusted for splits.**Adjusted cl...             NaN]

In [10]:
MG.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()']]

In [11]:
MG.stats()

In [12]:
MG.statistics.dropna()

                                                  MG.TO
Market Cap (intraday) 5                         2044.00
Trailing P/E                                       8.57
Price/Sales (ttm)                                  0.50
Price/Book (mrq)                                   1.82
Enterprise Value/Revenue 3                         0.64
Enterprise Value/EBITDA 6                          6.25
Beta (3Y Monthly)                                  1.66
52-Week Change 3                                  -5.97
S&P500 52-Week Change 3                            0.96
52 Week High 3                                    76.11
52 Week Low 3                                     57.34
50-Day Moving Average 3                           64.49
200-Day Moving Average 3                          65.72
Shares Outstanding 5                             322.36
Float                                            309.06
Shares Short (Aug 15, 2019) 4                      2.73
Short Ratio (Aug 15, 2019) 4                       3.25
Short % of Shares Outstanding (Aug 15, 2019) 4     0.87
Shares Short (prior month Jul 15, 2019) 4          2.23
Forward Annual Dividend Rate 4                     1.95
Forward Annual Dividend Yield 4                    2.92
Trailing Annual Dividend Rate 3                    1.42
Trailing Annual Dividend Yield 3                   2.16
5 Year Average Dividend Yield 4                    2.07
Payout Ratio 4                                    17.73
Profit Margin                                      6.35
Operating Margin (ttm)                             6.49
Return on Assets (ttm)                             6.08
Return on Equity (ttm)                            21.85
Revenue Per Share (ttm)                          123.03
Quarterly Revenue Growth (yoy)                    -1.50
Diluted EPS (ttm)                                  7.78
Quarterly Earnings Growth (yoy)                  -27.80
Total Cash (mrq)                                 563.00
Total Cash Per Share (mrq)                         1.80
Total Debt/Equity (mrq)                           43.01
Current Ratio (mrq)                                1.21
Book Value Per Share (mrq)                        36.68

In [13]:
MG.balance()

In [14]:
MG.balance_sheet.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
MG.TO,,,,,
Cash And Cash Equivalents,684000.0,726000.0,974000.0,2863000.0,-0.761090
Net Receivables,6605000.0,6695000.0,6165000.0,5439000.0,0.214378
Inventory,3403000.0,3542000.0,2804000.0,2564000.0,0.327223
Other Current Assets,980000.0,60000.0,21000.0,27000.0,35.296296
Total Current Assets,11834000.0,11200000.0,10163000.0,11144000.0,0.061917
Long Term Investments,2189000.0,2079000.0,1850000.0,399000.0,4.486216
"Property, plant and equipment",8095000.0,8176000.0,7022000.0,5948000.0,0.360962
Goodwill,1979000.0,2099000.0,1923000.0,1344000.0,0.472470
Intangible Assets,560000.0,650000.0,621000.0,169000.0,2.313609
Other Assets,1288000.0,1264000.0,987000.0,683000.0,0.885798
Deferred Long Term Asset Charges,300000.0,238000.0,268000.0,271000.0,0.107011
Total Assets,25945000.0,25468000.0,22566000.0,19687000.0,0.317875
Accounts Payable,6094000.0,6283000.0,5430000.0,4746000.0,0.284029
Short/Current Long Term Debt,201000.0,108000.0,139000.0,211000.0,-0.047393
Other Current Liabilities,677000.0,305000.0,500000.0,372000.0,0.819892
Total Current Liabilities,10304000.0,9243000.0,8695000.0,7276000.0,0.416163
Long Term Debt,3084000.0,3195000.0,2394000.0,2327000.0,0.325312
Other Liabilities,1398000.0,1318000.0,1258000.0,967000.0,0.445708
Deferred Long Term Liability Charges,741000.0,732000.0,420000.0,276000.0,1.684783
Minority Interest,458000.0,502000.0,451000.0,151000.0,2.033113
Total Liabilities,14786000.0,13756000.0,12347000.0,10570000.0,0.398865
Common Stock,3380000.0,3617000.0,3796000.0,3942000.0,-0.142567
Retained Earnings,8376000.0,8074000.0,7318000.0,6387000.0,0.311414
Treasury Stock,-1175000.0,-600000.0,-1451000.0,-1470000.0,-0.200680
Capital Surplus,120000.0,119000.0,105000.0,107000.0,0.121495
Other Stockholder Equity,-1175000.0,-600000.0,-1451000.0,-1470000.0,-0.200680
Total stockholders' equity,10701000.0,11210000.0,9768000.0,8966000.0,0.193509
Net Tangible Assets,8162000.0,8461000.0,7224000.0,7453000.0,0.095129

In [15]:
MG.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list']]

In [16]:
MG.financial()

In [17]:
MG.financials.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
MG.TO,,,,,
Total Revenue,40827000.0,36588000.0,36445000.0,32134000.0,0.270523
Cost of Revenue,35055000.0,30895000.0,31123000.0,27559000.0,0.271998
Gross Profit,5772000.0,5693000.0,5322000.0,4575000.0,0.261639
Selling General and Administrative,1664000.0,1668000.0,1601000.0,1448000.0,0.149171
Total Operating Expenses,37997000.0,33747000.0,33780000.0,29809000.0,0.274682
Operating Income or Loss,2830000.0,2841000.0,2665000.0,2325000.0,0.217204
Total Other Income/Expenses Net,121000.0,144000.0,115000.0,326000.0,-0.628834
Earnings Before Interest and Taxes,2830000.0,2841000.0,2665000.0,2325000.0,0.217204
Interest Expense,-113000.0,-90000.0,-100000.0,-58000.0,0.948276
Income Before Tax,2951000.0,2985000.0,2780000.0,2651000.0,0.113165
Income Tax Expense,619000.0,741000.0,706000.0,711000.0,-0.129395
Minority Interest,458000.0,502000.0,451000.0,151000.0,2.033113
Net Income From Continuing Ops,2332000.0,2244000.0,2074000.0,1940000.0,0.202062
Net Income,2296000.0,2196000.0,2031000.0,2013000.0,0.140586
Net Income Applicable To Common Shares,2296000.0,2196000.0,2031000.0,2013000.0,0.140586

In [18]:
MG.cash()

In [19]:
MG.cashflow.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
MG.TO,,,,,
Net Income,2296000.0,2196000.0,2031000.0,2013000.0,0.140586
Depreciation,1450000.0,1311000.0,1191000.0,912000.0,0.589912
Adjustments To Net Income,125000.0,52000.0,83000.0,-249000.0,-1.502008
Changes In Accounts Receivables,-351000.0,-292000.0,-446000.0,-410000.0,-0.143902
Changes In Liabilities,265000.0,512000.0,562000.0,139000.0,0.906475
Changes In Inventories,-92000.0,-397000.0,-159000.0,-241000.0,-0.618257
Changes In Other Operating Activities,111000.0,17000.0,18000.0,128000.0,-0.132812
Total Cash Flow From Operating Activities,3718000.0,3346000.0,3266000.0,2332000.0,0.594340
Capital Expenditure,-1650000.0,-1875000.0,-1807000.0,-1591000.0,0.037084
Investments,-701000.0,-651000.0,-478000.0,-221000.0,2.171946
Total Cash Flows From Investing Activities,-2276000.0,-2145000.0,-3957000.0,-1288000.0,0.767081
Dividends Paid,-448000.0,-400000.0,-385000.0,-354000.0,0.265537
Net Borrowings,867000.0,112000.0,251000.0,1534000.0,-0.434811
Other Cash Flows from Financing Activities,-65000.0,-28000.0,-6000.0,41000.0,-2.585366
Total Cash Flows From Financing Activities,-1443000.0,-1554000.0,-1020000.0,741000.0,-2.947368
Effect Of Exchange Rate Changes,-36000.0,24000.0,16000.0,-171000.0,-0.789474
Change In Cash and Cash Equivalents,-37000.0,-329000.0,-1695000.0,1614000.0,-1.022924

In [20]:
MG.analyze()

In [21]:
MG.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['financials', 'fin_list'],
 ['cashflow', 'cash_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]

In [22]:
MG.earnings_est

,Current Qtr. (Dec 2018),Next Qtr. (Mar 2019),Current Year (2018),Next Year (2019)
Earnings Estimate,,,,
No. of Analysts,0.00,0.00,0.0,0.0
Avg. Estimate,0.00,0.00,0.0,0.0
Low Estimate,0.00,0.00,0.0,0.0
High Estimate,0.00,0.00,0.0,0.0
Year Ago EPS,1.57,1.84,NaN,NaN

In [23]:
MG.revenue

,Current Qtr. (Dec 2018),Next Qtr. (Mar 2019),Current Year (2018),Next Year (2019)
Revenue Estimate,,,,
No. of Analysts,9,6,12,12
Avg. Estimate,10.2B,10.66B,40.93B,41.5B
Low Estimate,9.87B,10.41B,40.56B,39.51B
High Estimate,10.32B,10.9B,41.21B,43.06B
Year Ago Sales,10.39B,10.79B,38.95B,40.93B
Sales Growth (year/est),-1.80%,-1.20%,5.10%,1.40%

In [24]:
MG.earnings_history

                 12/30/2017 3/30/2018 6/29/2018 9/29/2018
Earnings History
EPS Est.               1.55       1.7      1.72      1.51
EPS Actual             1.57      1.84      1.67      1.56
Difference             0.02      0.14     -0.05      0.05
Surprise %            1.30%     8.20%    -2.90%     3.30%

In [25]:
MG.eps_trend

,Current Qtr. (Dec 2018),Next Qtr. (Mar 2019),Current Year (2018),Next Year (2019)
EPS Trend,,,,
Current Estimate,0.00,0.00,0.00,0.00
7 Days Ago,1.63,1.86,6.71,7.19
30 Days Ago,1.63,1.86,6.71,7.19
60 Days Ago,1.63,1.86,6.71,7.19
90 Days Ago,1.63,1.86,6.71,7.19

In [26]:
MG.eps_revisions

,Current Qtr. (Dec 2018),Next Qtr. (Mar 2019),Current Year (2018),Next Year (2019)
EPS Revisions,,,,
Up Last 7 Days,NaN,NaN,NaN,NaN
Up Last 30 Days,NaN,NaN,NaN,NaN
Down Last 7 Days,NaN,NaN,NaN,NaN
Down Last 30 Days,NaN,NaN,NaN,NaN

In [27]:
MG.growth_estimates

                           MG.TO  Industry  Sector  S&P 500
Growth Estimates
Current Qtr.                 NaN       NaN     NaN     0.00
Next Qtr.                    NaN       NaN     NaN     0.08
Current Year                 NaN       NaN     NaN     0.03
Next Year                    NaN       NaN     NaN     0.10
Next 5 Years (per annum)  -4.00%       NaN     NaN     0.08
Past 5 Years (per annum)     NaN       NaN     NaN      NaN