In [1]:
import pandas
from stock_scraper import calculations, industry
from datetime import datetime
from pandas import DataFrame
from balance_sheet import balance_sheet

In [2]:
communications = ['BCE.TO', 'T.TO', 'RCI-B.TO', 'SJR-B.TO', 'QBR-B.TO', 'CCA.TO', 'CGO.TO', 'TGO.TO', 'TRL.TO']
source = "yahoo"
start = datetime(2018, 7, 19)
end = datetime(2019, 7, 19)

In [3]:
d = {}
d2 = {}
for x in chemicals:
	d["{0}".format(x)] = calculations(x, source, start, end)
    d2["{0}".format(x)] = balance_sheet(x)

Please describe this stock:
Please enter industry:
Please describe this stock:
Please enter industry:
Please describe this stock:
Please enter industry:
Please describe this stock:
Please enter industry:
Please describe this stock:
Please enter industry:

In [4]:
chemical_list = []
for x in chemicals:
    chemical_list.append(d["{0}".format(x)].calcdf)

In [5]:
chemical_list

[                                          CHE-UN.TO
 name                Chemtrade Logistics Income Fund
 quoteType                                    EQUITY
 total_return                              -0.269842
 Price_Cap                               1.07996e-08
 Outstanding_Cap                                   1
 one_pe                                          NaN
 currency                                        CAD
 perc_change                               -0.385672
 fiftyDayAverage                             9.58333
 trailingPE                                      NaN
 forwardPE                                       NaN
 marketcap                                 952812864
 priceToBook                                 1.00508
 price                                         10.29
 avgchg200day                               0.683592
 avgpctchg200day                             0.07116
 dividend yield                              0.11583
 shares outstanding                         92596000
 dividend                                        0.1,
                                  RGX.TO
 name                Argex Titanium Inc.
 quoteType                        EQUITY
 total_return                  -0.666667
 Price_Cap                   2.24727e-09
 Outstanding_Cap                       0
 one_pe                              NaN
 currency                            CAD
 perc_change                   -0.666667
 fiftyDayAverage               0.0241667
 trailingPE                          NaN
 forwardPE                           NaN
 marketcap                       8899700
 priceToBook                         NaN
 price                              0.02
 avgchg200day                    -0.0175
 avgpctchg200day               -0.466667
 dividend yield                      NaN
 shares outstanding                    0
 dividend                            NaN,
                                ECO.TO
 name                EcoSynthetix Inc.
 quoteType                      EQUITY
 total_return               -0.0203489
 Price_Cap                  1.7129e-08
 Outstanding_Cap               1.02035
 one_pe                            NaN
 currency                          CAD
 perc_change                -0.0203489
 fiftyDayAverage               3.05389
 trailingPE                        NaN
 forwardPE                         NaN
 marketcap                   196741936
 priceToBook                   3.64719
 price                            3.37
 avgchg200day                   1.0115
 avgpctchg200day              0.428874
 dividend yield                    NaN
 shares outstanding           59568400
 dividend                          NaN,
                                    MX.TO
 name                Methanex Corporation
 quoteType                         EQUITY
 total_return                    -0.47558
 Price_Cap                     1.2986e-08
 Outstanding_Cap                        0
 one_pe                          0.101268
 currency                             CAD
 perc_change                    -0.499206
 fiftyDayAverage                  57.9511
 trailingPE                       9.87477
 forwardPE                        8.06316
 marketcap                     4129066752
 priceToBook                      2.78184
 price                              53.62
 avgchg200day                    -15.5785
 avgpctchg200day                -0.225128
 dividend yield                 0.0236263
 shares outstanding                     0
 dividend                            0.36,
                           NTR.TO
 name                Nutrien Ltd.
 quoteType                 EQUITY
 total_return            -0.10235
 Price_Cap            1.74303e-09
 Outstanding_Cap                0
 one_pe                 0.0883945
 currency                     CAD
 perc_change             -0.12669
 fiftyDayAverage          69.2903
 trailingPE               11.3129
 forwardPE                19.7389
 marketcap            38163521536
 priceToBook              1.66462
 price                      66.52
 avgchg200day            -2.96086
 avgpctchg200day       -0.0426141
 dividend yield         0.0243402
 shares outstanding             0
 dividend                   0.564]

In [6]:
chemical_df = industry(chemical_list)

In [7]:
chemical_df.concat_df

,CHE-UN.TO,RGX.TO,ECO.TO,MX.TO,NTR.TO
name,Chemtrade Logistics Income Fund,Argex Titanium Inc.,EcoSynthetix Inc.,Methanex Corporation,Nutrien Ltd.
quoteType,EQUITY,EQUITY,EQUITY,EQUITY,EQUITY
total_return,-0.269842,-0.666667,-0.0203489,-0.47558,-0.10235
Price_Cap,1.07996e-08,2.24727e-09,1.7129e-08,1.2986e-08,1.74303e-09
Outstanding_Cap,1,0,1.02035,0,0
one_pe,NaN,NaN,NaN,0.101268,0.0883945
currency,CAD,CAD,CAD,CAD,CAD
perc_change,-0.385672,-0.666667,-0.0203489,-0.499206,-0.12669
fiftyDayAverage,9.58333,0.0241667,3.05389,57.9511,69.2903
trailingPE,NaN,NaN,NaN,9.87477,11.3129
forwardPE,NaN,NaN,NaN,8.06316,19.7389
marketcap,952812864,8899700,196741936,4129066752,38163521536
priceToBook,1.00508,NaN,3.64719,2.78184,1.66462
price,10.29,0.02,3.37,53.62,66.52
avgchg200day,0.683592,-0.0175,1.0115,-15.5785,-2.96086
avgpctchg200day,0.07116,-0.466667,0.428874,-0.225128,-0.0426141
dividend yield,0.11583,NaN,NaN,0.0236263,0.0243402
shares outstanding,92596000,0,59568400,0,0
dividend,0.1,NaN,NaN,0.36,0.564

In [8]:
pandas.DataFrame.from_dict(chemical_df.industry_dict)

,to avg_return,to avg_pe,to avg_dividend,to avg_pb,to avg_mc,to avg_so,price to mc,price*avgmc/mc,cg
CHE-UN.TO,0.879085,NaN,0.292969,0.441855,0.109642,3.04263,1.07996e-08,88.837,10.19
RGX.TO,2.17185,NaN,NaN,NaN,0.00102411,0,2.24727e-09,NaN,NaN
ECO.TO,0.0662922,NaN,NaN,1.60338,0.0226395,1.95737,1.7129e-08,NaN,NaN
MX.TO,1.54933,1.06788,1.05469,1.22296,0.47514,0,1.2986e-08,2269.51,53.26
NTR.TO,0.333434,0.932123,1.65234,0.731805,4.39155,0,1.74303e-09,2732.93,65.956

In [10]:
pandas.DataFrame.from_dict(chemical_df.industry_dict).T

                   CHE-UN.TO       RGX.TO      ECO.TO       MX.TO       NTR.TO
to avg_return       0.879085      2.17185   0.0662922     1.54933     0.333434
to avg_pe                NaN          NaN         NaN     1.06788     0.932123
to avg_dividend     0.292969          NaN         NaN     1.05469      1.65234
to avg_pb           0.441855          NaN     1.60338     1.22296     0.731805
to avg_mc           0.109642   0.00102411   0.0226395     0.47514      4.39155
to avg_so            3.04263            0     1.95737           0            0
price to mc      1.07996e-08  2.24727e-09  1.7129e-08  1.2986e-08  1.74303e-09
price*avgmc/mc        88.837          NaN         NaN     2269.51      2732.93
cg                     10.19          NaN         NaN       53.26       65.956