In [1]:
from finance_python.stock import stock
from finance_python.industry import industry
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [2]:
symbols = ['L.TO', 'WN.TO']
start = date.today() - timedelta(days=365)
end = date.today()

In [3]:
stock_loop = lambda x: stock(x, start, end)

In [4]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

6.163048505783081

In [5]:
L = stocks[0]

In [6]:
WN = stocks[1]

In [7]:
L.description

"Loblaw Companies Limited, a food and pharmacy company, engages in the grocery, pharmacy, health and beauty, apparel, general merchandise, financial services, and wireless mobile products and services businesses in Canada. It operates in two segments, Retail and Financial Services. The Retail segment operates corporate and franchise-owned retail food, and associate-owned drug stores comprising in-store pharmacies, other health and beauty product stores, apparel stores, and other general merchandise stores, as well as supports the PC Optimum reward program. The Financial Services segment provides credit card services, the PC Optimum reward program, insurance brokerage services, deposit taking services, and telecommunication services. Loblaw Companies Limited provides its products and services under the President's Choice, Life Brand, and no name brands. The company was founded in 1919 and is headquartered in Brampton, Canada. Loblaw Companies Limited is a subsidiary of George Weston Limited."

In [8]:
WN.description

'George Weston Limited engages in the food processing and distribution business in Canada and internationally. The company operates through three segments: Weston Foods, Loblaw, and Choice Properties. The Weston Foods segment produces fresh, frozen, and specialty bakery products, such as breads, rolls, bagels, tortillas, cakes, donuts, pies, cookies, crackers, and other baked goods through national and regional supermarkets, wholesale and club stores, dollar stores, convenience store chains, food service distributors, and outlets. This segment also supplies control brand products to retailers and consumer food companies; ice cream cones and sandwich wafers to manufacturers in the frozen novelty category; and Girl Scout cookies. The Loblaw segment provides grocery, pharmacy, health and beauty, apparel, general merchandise, credit card, insurance brokerage, gift cards, and telecommunication services in approximately 2,300 corporate, franchised, and associate-owned locations. It operates retail drug stores under the Shoppers Drug Mart and Pharmaprix names that offer over-the-counter medications, health and beauty aids, cosmetics and fragrances, seasonal products, and household essentials; and Shoppers Home Health Care stores, which sells and services assisted-living devices, medical equipment, home-care products, and durable mobility equipment to institutional and retail customers. This segment also provides specialty drug distribution, pharmacy, and patient support services, as well as pharmaceutical products and services to long-term care facilities. The Choice Properties segment owns, develops, and manages retail and commercial real estate consisting of 435 properties primarily focusing on supermarket-anchored shopping centers, supermarkets, and other commercial properties; and industrial, office, and residential properties. The company was founded in 1882 and is headquartered in Toronto, Canada. George Weston Limited is a subsidiary of Wittington Investments, Ltd.'

In [9]:
L.sector

'Grocery Stores'

In [10]:
WN.sector

'Grocery Stores'

In [11]:
L.price

72.87

In [12]:
WN.price

108.17

In [13]:
L.dividends

[                                                Date       Dividends
 0                                       Jun 13, 2019  0.315 Dividend
 1                                       Mar 14, 2019  0.295 Dividend
 2                                       Dec 13, 2018  0.295 Dividend
 3                                       Sep 14, 2018  0.295 Dividend
 4                                       Sep 13, 2018  0.295 Dividend
 5  *Close price adjusted for splits.**Adjusted cl...             NaN]

In [14]:
WN.dividends

[                                                Date       Dividends
 0                                       Jun 13, 2019  0.525 Dividend
 1                                       Mar 14, 2019  0.515 Dividend
 2                                       Dec 13, 2018  0.515 Dividend
 3                                       Sep 14, 2018   0.49 Dividend
 4  *Close price adjusted for splits.**Adjusted cl...             NaN]

In [15]:
L.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()']]

In [16]:
L.stats()
WN.stats()

In [17]:
L.statistics.dropna()

                                                   L.TO
Market Cap (intraday) 5                         2637.00
Trailing P/E                                      33.69
Forward P/E 1                                     15.44
PEG Ratio (5 yr expected) 1                        6.03
Price/Sales (ttm)                                  0.56
Price/Book (mrq)                                   2.41
Enterprise Value/Revenue 3                         0.89
Enterprise Value/EBITDA 6                         12.32
Beta (3Y Monthly)                                  0.30
52-Week Change 3                                  36.48
S&P500 52-Week Change 3                            0.96
52 Week High 3                                    73.10
52 Week Low 3                                     50.26
50-Day Moving Average 3                           69.65
200-Day Moving Average 3                          67.74
Shares Outstanding 5                             368.52
Float                                            172.20
Shares Short (Aug 15, 2019) 4                     11.33
Short Ratio (Aug 15, 2019) 4                      22.83
Short % of Shares Outstanding (Aug 15, 2019) 4     3.10
Shares Short (prior month Jul 15, 2019) 4         11.07
Forward Annual Dividend Rate 4                     1.26
Forward Annual Dividend Yield 4                    1.73
Trailing Annual Dividend Rate 3                    1.20
Trailing Annual Dividend Yield 3                   1.65
5 Year Average Dividend Yield 4                    1.57
Payout Ratio 4                                    65.22
Profit Margin                                      1.74
Operating Margin (ttm)                             4.54
Return on Assets (ttm)                             3.56
Return on Equity (ttm)                             6.26
Revenue Per Share (ttm)                          127.53
Quarterly Revenue Growth (yoy)                     2.90
Net Income Avi to Common (ttm)                   686.00
Diluted EPS (ttm)                                  2.16
Quarterly Earnings Growth (yoy)                  445.30
Total Cash Per Share (mrq)                         3.26
Total Debt/Equity (mrq)                          146.60
Current Ratio (mrq)                                1.34
Book Value Per Share (mrq)                        30.29

In [18]:
WN.statistics.dropna()

                                                  WN.TO
Market Cap (intraday) 5                         1661.00
Trailing P/E                                     983.36
Forward P/E 1                                     14.01
PEG Ratio (5 yr expected) 1                        2.66
Price/Sales (ttm)                                  0.34
Price/Book (mrq)                                   2.53
Enterprise Value/Revenue 3                         0.86
Enterprise Value/EBITDA 6                          9.45
Beta (3Y Monthly)                                  0.64
52-Week Change 3                                   8.94
S&P500 52-Week Change 3                            0.96
52 Week High 3                                   109.17
52 Week Low 3                                     86.72
50-Day Moving Average 3                          104.79
200-Day Moving Average 3                         100.34
Shares Outstanding 5                             127.96
Float                                             71.12
Short Ratio (Aug 15, 2019) 4                       3.95
Short % of Shares Outstanding (Aug 15, 2019) 4     0.46
Forward Annual Dividend Rate 4                     2.10
Forward Annual Dividend Yield 4                    1.94
Trailing Annual Dividend Rate 3                    2.05
Trailing Annual Dividend Yield 3                   1.88
5 Year Average Dividend Yield 4                    1.70
Payout Ratio 4                                   524.36
Profit Margin                                      0.13
Operating Margin (ttm)                             6.18
Return on Assets (ttm)                             4.22
Return on Equity (ttm)                             3.84
Revenue Per Share (ttm)                          341.22
Quarterly Revenue Growth (yoy)                     3.20
Net Income Avi to Common (ttm)                    18.00
Diluted EPS (ttm)                                  0.11
Quarterly Earnings Growth (yoy)                  410.50
Total Cash Per Share (mrq)                        13.92
Total Debt/Equity (mrq)                          163.39
Current Ratio (mrq)                                1.26
Book Value Per Share (mrq)                        42.81

In [19]:
L.balance()
WN.balance()

In [20]:
L.balance_sheet.dropna()

Period Ending,12/29/2018,12/30/2017,12/31/2016,1/2/2016,Changes
L.TO,,,,,
Cash And Cash Equivalents,1065000.0,1798000.0,1314000.0,1018000.0,0.046169
Short Term Investments,94000.0,546000.0,241000.0,64000.0,0.468750
Net Receivables,4527000.0,4314000.0,4048000.0,4115000.0,0.100122
Inventory,4803000.0,4438000.0,4371000.0,4322000.0,0.111291
Other Current Assets,858000.0,41000.0,58000.0,108000.0,6.944444
Total Current Assets,11637000.0,11327000.0,10204000.0,9855000.0,0.180822
Long Term Investments,31000.0,75000.0,84000.0,128000.0,-0.757812
"Property, plant and equipment",5931000.0,10669000.0,10559000.0,10480000.0,-0.434065
Goodwill,3942000.0,3922000.0,3895000.0,3780000.0,0.042857
Intangible Assets,7798000.0,8251000.0,8745000.0,9164000.0,-0.149062
Other Assets,814000.0,903000.0,949000.0,950000.0,-0.143158
Deferred Long Term Asset Charges,144000.0,134000.0,130000.0,132000.0,0.090909
Total Assets,30153000.0,35147000.0,34436000.0,34357000.0,-0.122362
Accounts Payable,5283000.0,5211000.0,4850000.0,4860000.0,0.087037
Short/Current Long Term Debt,1610000.0,1591000.0,347000.0,942000.0,0.709130
Other Current Liabilities,803000.0,1034000.0,902000.0,667000.0,0.203898
Total Current Liabilities,8704000.0,8641000.0,6942000.0,7222000.0,0.205206
Long Term Debt,5881000.0,9018000.0,9916000.0,9440000.0,-0.377013
Other Liabilities,2892000.0,3830000.0,3996000.0,3998000.0,-0.276638
Minority Interest,59000.0,40000.0,26000.0,13000.0,3.538462
Total Liabilities,17975000.0,22013000.0,21408000.0,21233000.0,-0.153440
Common Stock,7162000.0,7445000.0,7692000.0,7851000.0,-0.087760
Retained Earnings,4580000.0,5280000.0,4944000.0,4914000.0,-0.067969
Treasury Stock,49000.0,38000.0,33000.0,23000.0,1.130435
Capital Surplus,107000.0,110000.0,112000.0,102000.0,0.049020
Other Stockholder Equity,49000.0,38000.0,33000.0,23000.0,1.130435
Total stockholders' equity,11898000.0,12873000.0,12781000.0,12890000.0,-0.076959
Net Tangible Assets,158000.0,700000.0,141000.0,-54000.0,-3.925926

In [21]:
WN.balance_sheet.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
WN.TO,,,,,
Cash And Cash Equivalents,1521000.0,2034000.0,1560000.0,1413000.0,0.076433
Short Term Investments,281000.0,1113000.0,1011000.0,1166000.0,-0.759005
Net Receivables,4732000.0,4459000.0,4204000.0,4264000.0,0.109756
Inventory,5001000.0,4623000.0,4559000.0,4517000.0,0.107151
Other Current Assets,64000.0,29000.0,64000.0,112000.0,-0.428571
Total Current Assets,11855000.0,12463000.0,11581000.0,11714000.0,0.012037
Long Term Investments,765000.0,75000.0,79000.0,119000.0,5.428571
"Property, plant and equipment",12101000.0,11689000.0,11534000.0,11352000.0,0.065980
Goodwill,4781000.0,4377000.0,4364000.0,4254000.0,0.123883
Intangible Assets,7958000.0,8368000.0,8875000.0,9292000.0,-0.143564
Other Assets,6354000.0,1568000.0,1513000.0,1489000.0,3.267293
Deferred Long Term Asset Charges,286000.0,247000.0,201000.0,156000.0,0.833333
Total Assets,43814000.0,38540000.0,37946000.0,38220000.0,0.146363
Accounts Payable,5734000.0,5429000.0,5115000.0,5135000.0,0.116650
Short/Current Long Term Debt,1306000.0,1591000.0,347000.0,1292000.0,0.010836
Other Current Liabilities,590000.0,797000.0,668000.0,228000.0,1.587719
Total Current Liabilities,9604000.0,9539000.0,7831000.0,8427000.0,0.139670
Long Term Debt,13477000.0,9933000.0,10831000.0,10355000.0,0.301497
Other Liabilities,6031000.0,3749000.0,3940000.0,3975000.0,0.517233
Minority Interest,6164000.0,6861000.0,7026000.0,7209000.0,-0.144958
Total Liabilities,29610000.0,23745000.0,23156000.0,23330000.0,0.269181
Common Stock,2766000.0,221000.0,195000.0,191000.0,13.481675
Retained Earnings,5017000.0,7188000.0,6704000.0,6422000.0,-0.218779
Treasury Stock,-560000.0,-292000.0,48000.0,231000.0,-3.424242
Other Stockholder Equity,-560000.0,-292000.0,48000.0,231000.0,-3.424242
Total stockholders' equity,7223000.0,7117000.0,6947000.0,6864000.0,0.052302
Net Tangible Assets,-5516000.0,-5628000.0,-6292000.0,-6682000.0,-0.174499

In [22]:
L.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list']]

In [23]:
L.financial()
WN.financial()

In [24]:
L.financials.dropna()

Period Ending,12/29/2018,12/30/2017,12/31/2016,1/2/2016,Changes
L.TO,,,,,
Total Revenue,46693000.0,46587000.0,46385000.0,45394000.0,0.028616
Cost of Revenue,32537000.0,32913000.0,33206000.0,32800000.0,-0.008018
Gross Profit,14156000.0,13674000.0,13179000.0,12594000.0,0.124027
Selling General and Administrative,12161000.0,12060000.0,10921000.0,10727000.0,0.133681
Total Operating Expenses,44698000.0,44973000.0,44127000.0,43527000.0,0.026903
Operating Income or Loss,1995000.0,1614000.0,2258000.0,1867000.0,0.068559
Total Other Income/Expenses Net,-1200000.0,71000.0,-819000.0,-910000.0,0.318681
Earnings Before Interest and Taxes,1995000.0,1614000.0,2258000.0,1867000.0,0.068559
Interest Expense,-400000.0,-388000.0,-552000.0,-580000.0,-0.310345
Income Before Tax,1359000.0,1675000.0,1439000.0,957000.0,0.420063
Income Tax Expense,606000.0,365000.0,449000.0,368000.0,0.646739
Minority Interest,59000.0,40000.0,26000.0,13000.0,3.538462
Net Income From Continuing Ops,753000.0,1310000.0,990000.0,589000.0,0.278438
Discontinued Operations,47000.0,231000.0,231000.0,231000.0,-0.796537
Net Income,766000.0,1517000.0,983000.0,598000.0,0.280936
Net Income Applicable To Common Shares,754000.0,1505000.0,971000.0,591000.0,0.275804

In [25]:
L.cash()
WN.cash()

In [26]:
L.cashflow.dropna()
WN.cashflow.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
WN.TO,,,,,
Net Income,574000.0,766000.0,550000.0,511000.0,0.123288
Depreciation,1468000.0,1428000.0,1411000.0,1454000.0,0.009629
Adjustments To Net Income,1359000.0,1011000.0,1546000.0,1106000.0,0.228752
Changes In Other Operating Activities,-951000.0,-27000.0,24000.0,60000.0,-16.850000
Total Cash Flow From Operating Activities,2719000.0,3425000.0,3760000.0,3367000.0,-0.192456
Capital Expenditure,-1191000.0,-1177000.0,-1129000.0,-1267000.0,-0.059984
Investments,832000.0,-135000.0,160000.0,57000.0,13.596491
Other Cash flows from Investing Activities,-83000.0,-56000.0,92000.0,3000.0,-28.666667
Total Cash Flows From Investing Activities,-2256000.0,-1075000.0,-1324000.0,-1407000.0,0.603412
Dividends Paid,-285000.0,-273000.0,-265000.0,-198000.0,0.439394
Net Borrowings,1582000.0,248000.0,-457000.0,-631000.0,-3.507132
Other Cash Flows from Financing Activities,-2295000.0,-1824000.0,-1538000.0,-1077000.0,1.130919
Total Cash Flows From Financing Activities,-987000.0,-1865000.0,-2275000.0,-1918000.0,-0.485401
Effect Of Exchange Rate Changes,11000.0,-11000.0,-14000.0,38000.0,-0.710526
Change In Cash and Cash Equivalents,-513000.0,474000.0,147000.0,80000.0,-7.412500

In [27]:
L.analyze()
WN.analyze()

In [28]:
L.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['financials', 'fin_list'],
 ['cashflow', 'cash_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]

In [51]:
L.earnings_est

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Earnings Estimate,,,,
No. of Analysts,8.00,8.00,10.00,10.00
Avg. Estimate,1.26,1.15,4.24,4.72
Low Estimate,1.22,1.07,4.08,4.61
High Estimate,1.35,1.19,4.46,4.92
Year Ago EPS,1.49,1.07,4.60,4.24

In [52]:
WN.earnings_est

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Earnings Estimate,,,,
No. of Analysts,4.00,4.00,5.00,5.00
Avg. Estimate,2.14,1.90,7.14,7.72
Low Estimate,1.81,1.80,6.62,7.11
High Estimate,2.47,2.15,7.63,9.02
Year Ago EPS,2.25,1.59,6.85,7.14

In [45]:
L.revenue

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Revenue Estimate,,,,
No. of Analysts,2,1,10,9
Avg. Estimate,14.65B,11.69B,48.01B,49.76B
Low Estimate,14.6B,11.69B,47.39B,48.98B
High Estimate,14.71B,11.69B,48.26B,50.68B
Year Ago Sales,14.47B,11.22B,46.69B,48.01B
Sales Growth (year/est),1.30%,4.20%,2.80%,3.60%

In [46]:
WN.revenue

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Revenue Estimate,,,,
No. of Analysts,1,1,6,5
Avg. Estimate,15.14B,12.18B,50.1B,51.95B
Low Estimate,15.14B,12.18B,49.89B,50.94B
High Estimate,15.14B,12.18B,50.43B,52.98B
Year Ago Sales,14.86B,11.72B,48.57B,50.1B
Sales Growth (year/est),1.90%,4.00%,3.20%,3.70%

In [31]:
L.earnings_history

                 9/29/2018 12/30/2018 3/30/2019 6/29/2019
Earnings History
EPS Est.              1.44       1.04       0.8      1.01
EPS Actual            1.49       1.07      0.78      1.01
Difference            0.05       0.03     -0.02         0
Surprise %           3.50%      2.90%    -2.50%     0.00%

In [47]:
WN.earnings_history

                 9/29/2018 12/30/2018 3/30/2019 6/29/2019
Earnings History
EPS Est.              2.19       1.57      1.34      1.57
EPS Actual            2.25       1.59       1.3       1.7
Difference            0.06       0.02     -0.04      0.13
Surprise %           2.70%      1.30%    -3.00%     8.30%

In [32]:
L.eps_trend

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
EPS Trend,,,,
Current Estimate,1.26,1.15,4.24,4.72
7 Days Ago,1.26,1.15,4.21,4.70
30 Days Ago,1.26,1.15,4.24,4.72
60 Days Ago,1.31,1.13,4.27,4.75
90 Days Ago,1.32,1.10,4.25,4.75

In [48]:
WN.eps_trend

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
EPS Trend,,,,
Current Estimate,2.14,1.90,7.14,7.72
7 Days Ago,2.25,1.93,7.27,7.80
30 Days Ago,2.14,1.90,7.00,7.72
60 Days Ago,2.08,1.76,6.75,7.25
90 Days Ago,2.08,1.76,6.75,7.25

In [33]:
L.eps_revisions

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
EPS Revisions,,,,
Up Last 7 Days,NaN,NaN,NaN,NaN
Up Last 30 Days,NaN,6.0,2.0,1.0
Down Last 7 Days,NaN,NaN,NaN,NaN
Down Last 30 Days,NaN,NaN,NaN,NaN

In [49]:
WN.eps_revisions

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
EPS Revisions,,,,
Up Last 7 Days,NaN,NaN,NaN,NaN
Up Last 30 Days,2.0,3.0,5.0,4.0
Down Last 7 Days,NaN,NaN,NaN,NaN
Down Last 30 Days,NaN,NaN,NaN,NaN

In [34]:
L.growth_estimates

                             L.TO  Industry  Sector  S&P 500
Growth Estimates
Current Qtr.              -15.40%       NaN     NaN     0.00
Next Qtr.                   7.50%       NaN     NaN     0.08
Current Year               -7.80%       NaN     NaN     0.03
Next Year                  11.30%       NaN     NaN     0.10
Next 5 Years (per annum)    2.81%       NaN     NaN     0.08
Past 5 Years (per annum)    6.06%       NaN     NaN      NaN

In [50]:
WN.growth_estimates

                           WN.TO  Industry  Sector  S&P 500
Growth Estimates
Current Qtr.              -4.90%       NaN     NaN     0.00
Next Qtr.                 19.50%       NaN     NaN     0.08
Current Year               4.20%       NaN     NaN     0.03
Next Year                  8.10%       NaN     NaN     0.10
Next 5 Years (per annum)   5.70%       NaN     NaN     0.08
Past 5 Years (per annum)   4.30%       NaN     NaN      NaN