In [37]:
from finance_python.stock import stock
from finance_python.industry import industry
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [38]:
symbols = ['SHOP.TO', 'KXS.TO', 'OTEX.TO']
start = date.today() - timedelta(days=365)
end = date.today()

In [39]:
stock_loop = lambda x: stock(x, start, end)
stat = lambda x: stocks[x].stats()
bal = lambda x: stocks[x].balance()
fin = lambda x: stocks[x].financial()
ca = lambda x: stocks[x].cash()
an = lambda x: stocks[x].analyze()

In [40]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

23.84051537513733

In [41]:
timer_start = time.time()

for each in range(0, len(stocks)):
    stat(each)
    
timer_end = time.time()
print(timer_end - timer_start)

2.415860414505005

In [42]:
timer_start = time.time()

for each in range(0, len(stocks)):
    bal(each)
    
timer_end = time.time()
print(timer_end - timer_start)

1.9623253345489502

In [43]:
timer_start = time.time()

for each in range(0, len(stocks)):
    fin(each)
    
timer_end = time.time()
print(timer_end - timer_start)

2.4110217094421387

In [44]:
timer_start = time.time()

for each in range(0, len(stocks)):
    ca(each)
    
timer_end = time.time()
print(timer_end - timer_start)

1.8261504173278809

In [45]:
timer_start = time.time()

for each in range(0, len(stocks)):
    an(each)
    
timer_end = time.time()
print(timer_end - timer_start)

3.6915245056152344

In [10]:
one, two = stocks

In [12]:
one.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['financials', 'fin_list'],
 ['cashflow', 'cash_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]

In [30]:
one.price
one.dividends

[                                                Date      Dividends
 0                                       Jun 28, 2019  0.22 Dividend
 1                                       Mar 22, 2019  0.22 Dividend
 2                                       Jan 03, 2019  0.21 Dividend
 3                                       Sep 27, 2018  0.21 Dividend
 4  *Close price adjusted for splits.**Adjusted cl...            NaN]

In [32]:
two.price

'1.1701'

In [14]:
one.description

'Transcontinental Inc. engages in flexible packaging business in Canada, the United States, Latin America, the United Kingdom, Australia, and New Zealand. It operates through three segments: Packaging, Printing, and Media. The Packaging segment engages in extrusion, lamination, printing, and converting activities, as well as offers flexible plastic and paper products, including rollstock, bags and pouches, coextruded films, shrink films and bags, and advanced coatings. This segment serves dairy, coffee, meat and poultry, pet food, agriculture, beverage, confectionery, industrial, and consumer product markets, as well as supermarkets. The Printing segment provides integrated services for retailers, including premedia services, flyer and in-store marketing product printing, and door-to-door distribution, as well as print solutions for newspapers, magazines, four-color books, and personalized and mass marketing products. The Media segment is involved in printing and digital publishing of newspapers, educational books, and specialized publications for professionals in French and English. Transcontinental Inc. was founded in 1976 and is headquartered in Montreal, Canada.'

In [29]:
two.description

"WeedMD Inc. produces, distributes, and sells medical-grade cannabis in Canada. The company offers dried cannabis, cannabis plants and seeds, cannabis extracts, and others, as well as cannabis flower and cannabis oil products. The company sells its products directly to medical patients and strategic relationships across the seniors' market, as well as through supply agreements with Shoppers Drug Mart and six provincial distribution agencies. WeedMD Inc. is headquartered in Aylmer, Canada."

In [15]:
one.sector

'Publishing'

In [34]:
one.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['financials', 'fin_list'],
 ['cashflow', 'cash_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]

In [36]:
one.earnings_history

nan

In [18]:
one.cashflow.dropna()

Period Ending,10/28/2018,10/29/2017,10/31/2016,10/31/2015,Changes
TCL-B.TO,,,,,
Net Income,213400.0,211500.0,146300.0,262600.0,-0.187357
Depreciation,175600.0,107700.0,111900.0,109400.0,0.605119
Adjustments To Net Income,90400.0,15800.0,42600.0,-77400.0,-2.167959
Changes In Accounts Receivables,14900.0,28400.0,-1000.0,7500.0,0.986667
Changes In Liabilities,-189500.0,-50200.0,-50800.0,-14100.0,12.439716
Changes In Inventories,-3600.0,300.0,9800.0,-500.0,6.200000
Changes In Other Operating Activities,-6600.0,-9500.0,-6300.0,-20200.0,-0.673267
Total Cash Flow From Operating Activities,312500.0,324100.0,273300.0,286700.0,0.089990
Capital Expenditure,-59400.0,-33200.0,-58500.0,-64400.0,-0.077640
Investments,-2500.0,-2500.0,-2500.0,-2500.0,-0.000000
Other Cash flows from Investing Activities,3400.0,3400.0,3400.0,54600.0,-0.937729
Total Cash Flows From Investing Activities,-1592700.0,-23900.0,-151700.0,-108900.0,13.625344
Dividends Paid,-68600.0,-60900.0,-56200.0,-52300.0,0.311663
Net Borrowings,923300.0,-200.0,-58400.0,-108300.0,-9.525392
Other Cash Flows from Financing Activities,-38000.0,-16200.0,-8300.0,-19300.0,0.968912
Total Cash Flows From Financing Activities,1071000.0,-69700.0,-144000.0,-178500.0,-7.000000
Effect Of Exchange Rate Changes,2600.0,-100.0,500.0,4100.0,-0.365854
Change In Cash and Cash Equivalents,-206600.0,230400.0,-21900.0,3400.0,-61.764706

In [19]:
portfolio = industry()

In [20]:
portfolio.statistics(one.stats_list)

C:\Users\rayde\iCloudDrive\GitHub\finance_python\industry.py:24: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  indus = pd.concat(stats_list, axis=1).dropna(how='all')

In [21]:
portfolio.statistics.dropna(how='all')

                                                TCL-B.TO     WDDMF   Averages
200-Day Moving Average 3                           16.04    1.3061    8.67305
5 Year Average Dividend Yield 4                     3.75       NaN    3.75000
50-Day Moving Average 3                            15.39    1.1998    8.29490
52 Week High 3                                     31.80    1.9500   16.87500
52 Week Low 3                                      13.91    0.7283    7.31915
52-Week Change 3                                  -50.00  -21.6500  -35.82500
Avg Vol (10 day) 3                                475.00       NaN  475.00000
Avg Vol (3 month) 3                               472.00       NaN  472.00000
Beta (3Y Monthly)                                   1.32    2.9000    2.11000
Book Value Per Share (mrq)                         19.08       NaN   19.08000
Current Ratio (mrq)                                 1.33       NaN    1.33000
Diluted EPS (ttm)                                   1.56    0.0330    0.79650
EBITDA                                            508.00       NaN  508.00000
Enterprise Value 3                                   NaN  137.3200  137.32000
Enterprise Value/EBITDA 6                           5.43       NaN    5.43000
Enterprise Value/Revenue 3                          0.89       NaN    0.89000
Float                                              74.47  109.3600   91.91500
Forward Annual Dividend Rate 4                      0.88       NaN    0.88000
Forward Annual Dividend Yield 4                     5.68       NaN    5.68000
Gross Profit (ttm)                                578.30    4.6300  291.46500
Levered Free Cash Flow (ttm)                       55.95       NaN   55.95000
Market Cap (intraday) 5                           125.00  135.3500  130.17500
Net Income Avi to Common (ttm)                    136.70       NaN  136.70000
Operating Cash Flow (ttm)                         349.70       NaN  349.70000
Operating Margin (ttm)                              9.10    0.0000    4.55000
Payout Ratio 4                                     55.92    0.0000   27.96000
Price/Book (mrq)                                    0.81    2.1500    1.48000
Price/Sales (ttm)                                   0.40       NaN    0.40000
Profit Margin                                       4.40   77.3700   40.88500
Quarterly Earnings Growth (yoy)                   -67.60       NaN  -67.60000
Quarterly Revenue Growth (yoy)                     43.50  282.0000  162.75000
Return on Assets (ttm)                              5.75    1.6200    3.68500
Return on Equity (ttm)                              9.22   15.2300   12.22500
Revenue Per Share (ttm)                            35.50       NaN   35.50000
S&P500 52-Week Change 3                             1.70    1.7000    1.70000
Shares Outstanding 5                               13.98  114.3900   64.18500
Short % of Shares Outstanding (Aug 15, 2019) 4      0.01       NaN    0.01000
Short Ratio (Aug 15, 2019) 4                       13.30       NaN   13.30000
Total Cash (mrq)                                   55.40       NaN   55.40000
Total Cash Per Share (mrq)                          0.63       NaN    0.63000
Total Debt/Equity (mrq)                            87.44       NaN   87.44000
Trailing Annual Dividend Rate 3                     0.85       NaN    0.85000
Trailing Annual Dividend Yield 3                    5.48       NaN    5.48000
Trailing P/E                                        9.92   35.4600   22.69000

In [22]:
portfolio.cashflow(one.cash_list)

In [23]:
portfolio.cashflow.dropna(how='all')

                                             TCL-B.TO       WDDMF
Net Income                                  -0.187357   -0.653243
Depreciation                                 0.605119    7.627170
Adjustments To Net Income                   -2.167959    1.404317
Changes In Accounts Receivables              0.986667 -136.178933
Changes In Liabilities                      12.439716   44.149449
Changes In Inventories                       6.200000   14.586814
Changes In Other Operating Activities       -0.673267  194.442165
Total Cash Flow From Operating Activities    0.089990   -0.200530
Capital Expenditure                         -0.077640  118.208417
Investments                                 -0.000000    0.619117
Other Cash flows from Investing Activities  -0.937729         NaN
Total Cash Flows From Investing Activities  13.625344   33.543400
Dividends Paid                               0.311663         NaN
Net Borrowings                              -9.525392         NaN
Other Cash Flows from Financing Activities   0.968912  -42.055982
Total Cash Flows From Financing Activities  -7.000000  601.346979
Effect Of Exchange Rate Changes             -0.365854         NaN
Change In Cash and Cash Equivalents        -61.764706    0.827354

In [24]:
portfolio.financials(one.fin_list)

In [25]:
portfolio.financials

                                         TCL-B.TO      WDDMF
Total Revenue                            0.310309        NaN
Cost of Revenue                          0.276893        NaN
Gross Profit                             0.443945        NaN
Selling General and Administrative       0.286364  13.271577
Others                                  29.000000        NaN
Total Operating Expenses                 0.295099   9.448032
Operating Income or Loss                 0.405435   4.952278
Total Other Income/Expenses Net          1.382353 -12.869718
Earnings Before Interest and Taxes       0.405435   4.952278
Interest Expense                         1.119792   0.013534
Income Before Tax                        0.313243  -0.653243
Income Tax Expense                       6.551282        NaN
Net Income From Continuing Ops          -0.098056  -0.653243
Net Income                              -0.187357  -0.653243
Net Income                              -0.187357  -0.653243
Net Income Applicable To Common Shares  -0.187357  -0.653243

In [26]:
portfolio.balance_sheet(one.bs_list)

In [33]:
portfolio.balance_sheet.dropna(how='all')

                                      TCL-B.TO       WDDMF
Cash And Cash Equivalents             0.049223   24.016993
Net Receivables                       0.402009   15.508853
Inventory                             1.627687         NaN
Other Current Assets                       NaN   19.234496
Total Current Assets                  0.627999   27.047162
Property, plant and equipment         0.467489   23.996375
Goodwill                              1.502720         NaN
Intangible Assets                     2.212633         NaN
Other Assets                         -0.492814         NaN
Deferred Long Term Asset Charges     -0.898678         NaN
Total Assets                          0.802765   27.454947
Accounts Payable                      0.829001  171.053210
Short/Current Long Term Debt          5.901099         NaN
Other Current Liabilities            -0.475842    0.996352
Total Current Liabilities             0.564791   21.469432
Long Term Debt                        2.479436         NaN
Other Liabilities                    -0.198113         NaN
Deferred Long Term Liability Charges -0.107287         NaN
Total Liabilities                     0.985856   21.469432
Common Stock                          0.744704    9.686686
Retained Earnings                     0.566427    2.088792
Treasury Stock                       -0.443299         NaN
Capital Surplus                      -0.656250    7.865299
Other Stockholder Equity             -0.443299         NaN
Total stockholders' equity            0.607891   28.576722
Net Tangible Assets                  -1.717169   28.433858