In [13]:
import pandas
from finance_python.stock_scraper import calculations, industry
from datetime import datetime
from pandas import DataFrame
from balance_sheet import balance_sheet

In [245]:
snc[1]

                             WSP.TO
name                WSP Global Inc.
quoteType                    EQUITY
total_return             0.00720617
Price_Cap               9.54481e-09
Outstanding_Cap                   1
one_pe                    0.0335788
currency                        CAD
perc_change              -0.0128205
fiftyDayAverage               72.43
trailingPE                  29.7807
forwardPE                    18.442
marketcap                7825197056
priceToBook                 2.41567
price                         74.69
avgchg200day                4.07526
avgpctchg200day           0.0577111
dividend yield            0.0200267
shares outstanding        104769000
dividend                      0.375

In [48]:
snc = ['SNC.TO', 'WSP.TO', 'STN.TO', 'BAD.TO']
indust_list = ['SNC.TO', 'WSP.TO', 'STN.TO', 'BAD.TO', 
                  'ARE.TO', 'DRT.TO', 'BDT.TO', 'IBG.TO', 'SOX.TO',
                    'E.TO']
source = "yahoo"
start = datetime(2018, 7, 29)
end = datetime(2019, 7, 29)

In [239]:
exxon = 'xom'
ex.

AttributeError: 'calculations' object has no attribute 'calc'

In [241]:
ex.description

'Exxon Mobil Corporation explores for and produces crude oil and natural gas in the United States, Canada/Other Americas, Europe, Africa, Asia, and Australia/Oceania. It operates through Upstream, Downstream, and Chemical segments. The company is also involved in the manufacture, trade, transport, and sale of crude oil, petroleum products, and other specialty products; and manufactures and markets petrochemicals, including olefins, polyolefins, aromatics, and various other petrochemicals. As of December 31, 2018, it had approximately 24,696 net operated wells with proved reserves of 24.3 billion oil-equivalent barrels. The company was founded in 1870 and is headquartered in Irving, Texas.'

In [49]:
d = list(map(lambda x: {x: calculations(x, source, start, end)}, indust_list))

In [51]:
a = list(d[0].values())[0]
d

[{'SNC.TO': <finance_python.stock_scraper.calculations at 0x1c723ce6630>},
 {'WSP.TO': <finance_python.stock_scraper.calculations at 0x1c723ced240>},
 {'STN.TO': <finance_python.stock_scraper.calculations at 0x1c7233cb048>},
 {'BAD.TO': <finance_python.stock_scraper.calculations at 0x1c723ced550>},
 {'ARE.TO': <finance_python.stock_scraper.calculations at 0x1c72320f400>},
 {'DRT.TO': <finance_python.stock_scraper.calculations at 0x1c721d45208>},
 {'BDT.TO': <finance_python.stock_scraper.calculations at 0x1c721d45da0>},
 {'IBG.TO': <finance_python.stock_scraper.calculations at 0x1c723fb8f98>},
 {'SOX.TO': <finance_python.stock_scraper.calculations at 0x1c722e6b748>},
 {'E.TO': <finance_python.stock_scraper.calculations at 0x1c72343b320>}]

In [53]:
d2 = list(map(lambda x: {x: balance_sheet(x)}, indust_list))
d2

[{'SNC.TO': <balance_sheet.balance_sheet at 0x1c72323f400>},
 {'WSP.TO': <balance_sheet.balance_sheet at 0x1c72368d940>},
 {'STN.TO': <balance_sheet.balance_sheet at 0x1c72365e048>},
 {'BAD.TO': <balance_sheet.balance_sheet at 0x1c72338ef98>},
 {'ARE.TO': <balance_sheet.balance_sheet at 0x1c723c7a2b0>},
 {'DRT.TO': <balance_sheet.balance_sheet at 0x1c7251a45f8>},
 {'BDT.TO': <balance_sheet.balance_sheet at 0x1c725486b00>},
 {'IBG.TO': <balance_sheet.balance_sheet at 0x1c72575bd30>},
 {'SOX.TO': <balance_sheet.balance_sheet at 0x1c725a283c8>},
 {'E.TO': <balance_sheet.balance_sheet at 0x1c725d01d68>}]

In [246]:
a = list(map(lambda x, y: d[x][y].calcdf, range(0, len(indust_list)), indust_list))

KeyError: 'SNC.TO'

In [247]:
pandas.concat(a, axis=1)

TypeError: cannot concatenate object of type "<class 'dict'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [224]:
snc_bsd = d2[0]['SNC.TO']
snc_bsd.assets/snc_bsd.assets3

TypeError: __init__() missing 3 required positional arguments: 'source', 'start', and 'end'

industrials = industry(snc)
pandas.DataFrame.from_dict(industrials.industry_dict)

In [63]:
pandas.DataFrame.from_dict(industrials.industry_dict).T

,SNC.TO,WSP.TO,STN.TO,BAD.TO,ARE.TO,DRT.TO,BDT.TO,IBG.TO,SOX.TO,E.TO
to avg_return,2.39612,-0.0286948,0.339921,0.109005,0.0445069,0.877747,1.07938,0.877486,1.71625,2.58828
to avg_pe,NaN,0.859578,0.399091,0.95284,1.49043,NaN,NaN,1.99601,0.302051,NaN
to avg_dividend,0.773054,2.89895,1.12093,0.3672,1.12093,NaN,0.255108,NaN,0.463832,NaN
to avg_pb,0.454785,1.03072,0.804572,2.12894,0.670254,1.61622,0.80672,2.19326,0.205637,0.088892
to avg_mc,1.92367,4.09485,1.83672,0.894833,0.667979,0.321193,0.122368,0.0838229,0.0495157,0.00504523
to avg_so,2.41925,1.44379,1.53896,0.447057,0.822597,1.16669,0.585911,0.430301,0.384654,0.760795
price to mc,5.69625e-09,9.54481e-09,8.95456e-09,2.78711e-08,1.64826e-08,1.18118e-08,2.35201e-08,3.20256e-08,3.58261e-08,1.8151e-08
price*avgmc/mc,569.222,3729.52,1779.72,4271.81,841.21,NaN,77.4231,NaN,27.4429,NaN
cg,20.84,74.315,31.285,47.6125,20.895,NaN,5.467,NaN,3.33,NaN