In [3]:
from finance_python.stock import stock
from finance_python.industry import industry
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [5]:
symbols = ['DOL.TO', 'SAP.TO']
start = date.today() - timedelta(days=365)
end = date.today()

In [6]:
stock_loop = lambda x: stock(x, start, end)

In [7]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

6.785593748092651

In [8]:
DOL = stocks[0]

In [9]:
SAP = stocks[1]

In [10]:
DOL.description

'Dollarama Inc. operates a chain of dollar stores in Canada. Its stores offer general merchandise, consumables, and seasonal items. The company also offers products online. As of June 13, 2019, it operated 1,236 stores. The company was formerly known as Dollarama Capital Corporation and changed its name to Dollarama Inc. in September 2009. Dollarama Inc. was founded in 1992 and is headquartered in Montreal, Canada.'

In [11]:
SAP.description

"Saputo Inc. produces, markets, and distributes dairy products in Canada, the United States, Argentina, Australia, and internationally. The company offers cheeses, including mozzarella and cheddar; specialty cheeses, such as ricotta, provolone, parmesan, goat cheese, feta, and havarti; fine cheeses comprising brie and camembert; and other cheeses that include brick, colby, farmer, munster, monterey jack, fresh curd, and processed cheeses. It also provides fluid milk, cream, yogurt, sour cream, cottage cheese, and ice cream mixes, as well as other dairy and non-dairy products, which comprise butter, flavored cream, dips, and flavored coffee whitener. In addition, the company offers dairy ingredients, including milk powder, whey powder, lactose, and whey protein concentrates; and distributes fine imported cheese to specialty stores, as well as non-dairy products manufactured by third parties. It serves customers in the retail, foodservice, and industrial segments. The company sells its products under the Saputo, Alexis de Portneuf, Armstrong, Cathedral City, Clover, COON, Cracker Barrel, Dairyland, DairyStar, Devondale, Friendship Dairies, Frigo Cheese Heads, Joyya, La Paulina, Liddells, Milk2Go/Lait's Go, Montchevre, Murray Goulburn Ingredients, Neilson, Nutrilait, Scotsburn, Stella, Sungold, Treasure Cave, and Woolwich Goat Dairy brands. Saputo Inc. was founded in 1954 and is headquartered in Montr√©al, Canada."

In [12]:
DOL.sector

'Discount Stores'

In [13]:
SAP.sector

'Packaged Foods'

In [14]:
DOL.price

50.95

In [15]:
SAP.price

40.02

In [16]:
DOL.dividends

[                                                Date       Dividends
 0                                       Jul 11, 2019  0.044 Dividend
 1                                       Apr 17, 2019  0.044 Dividend
 2                                       Jan 10, 2019   0.04 Dividend
 3                                       Oct 04, 2018   0.04 Dividend
 4  *Close price adjusted for splits.**Adjusted cl...             NaN]

In [17]:
SAP.dividends

[                                                Date       Dividends
 0                                       Aug 30, 2019   0.17 Dividend
 1                                       Jun 17, 2019  0.165 Dividend
 2                                       Mar 04, 2019  0.165 Dividend
 3                                       Dec 03, 2018  0.165 Dividend
 4  *Close price adjusted for splits.**Adjusted cl...             NaN]

In [18]:
DOL.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()']]

In [19]:
DOL.stats()
SAP.stats()

In [20]:
DOL.statistics.dropna()

                                                 DOL.TO
Market Cap (intraday) 5                         1619.00
Trailing P/E                                      30.08
Forward P/E 1                                     23.59
PEG Ratio (5 yr expected) 1                        2.36
Price/Sales (ttm)                                  4.47
Enterprise Value/Revenue 3                         5.33
Enterprise Value/EBITDA 6                         22.05
Beta (3Y Monthly)                                  1.23
52-Week Change 3                                   3.98
S&P500 52-Week Change 3                            0.96
52 Week High 3                                    52.49
52 Week Low 3                                     30.70
50-Day Moving Average 3                           49.92
200-Day Moving Average 3                          43.03
Float                                            311.26
Shares Short (Aug 15, 2019) 4                      3.06
Short Ratio (Aug 15, 2019) 4                       4.47
Short % of Shares Outstanding (Aug 15, 2019) 4     0.97
Shares Short (prior month Jul 15, 2019) 4          3.31
Forward Annual Dividend Rate 4                     0.18
Forward Annual Dividend Yield 4                    0.35
Trailing Annual Dividend Rate 3                    0.16
Trailing Annual Dividend Yield 3                   0.32
5 Year Average Dividend Yield 4                    0.40
Payout Ratio 4                                     9.70
Profit Margin                                     15.22
Operating Margin (ttm)                            22.39
Return on Assets (ttm)                            18.52
Revenue Per Share (ttm)                           11.27
Quarterly Revenue Growth (yoy)                     9.50
EBITDA                                           875.41
Net Income Avi to Common (ttm)                   550.85
Diluted EPS (ttm)                                  1.69
Quarterly Earnings Growth (yoy)                    1.90
Total Cash (mrq)                                  55.30
Total Cash Per Share (mrq)                         0.18
Current Ratio (mrq)                                1.03
Book Value Per Share (mrq)                        -0.70
Operating Cash Flow (ttm)                        567.84
Levered Free Cash Flow (ttm)                     319.84

In [21]:
SAP.statistics.dropna()

                                                 SAP.TO
Market Cap (intraday) 5                         1565.00
Trailing P/E                                      20.85
Forward P/E 1                                     19.91
PEG Ratio (5 yr expected) 1                        4.63
Price/Sales (ttm)                                  1.13
Price/Book (mrq)                                   2.93
Enterprise Value/Revenue 3                         1.46
Enterprise Value/EBITDA 6                         16.55
Beta (3Y Monthly)                                  0.40
52-Week Change 3                                   3.15
S&P500 52-Week Change 3                            0.96
52 Week High 3                                    46.41
52 Week Low 3                                     35.56
50-Day Moving Average 3                           40.38
200-Day Moving Average 3                          42.73
Shares Outstanding 5                             388.17
Float                                            223.50
Shares Short (Aug 15, 2019) 4                      1.52
Short Ratio (Aug 15, 2019) 4                       4.24
Short % of Shares Outstanding (Aug 15, 2019) 4     0.41
Shares Short (prior month Jul 15, 2019) 4          1.51
Forward Annual Dividend Rate 4                     0.68
Forward Annual Dividend Yield 4                    1.71
Trailing Annual Dividend Rate 3                    0.67
Trailing Annual Dividend Yield 3                   1.66
5 Year Average Dividend Yield 4                    1.46
Payout Ratio 4                                    34.38
Profit Margin                                      5.40
Operating Margin (ttm)                             6.65
Return on Assets (ttm)                             5.18
Return on Equity (ttm)                            14.67
Revenue Per Share (ttm)                           35.71
Quarterly Revenue Growth (yoy)                    12.30
Net Income Avi to Common (ttm)                   750.70
Diluted EPS (ttm)                                  1.92
Quarterly Earnings Growth (yoy)                   -3.70
Total Cash (mrq)                                 113.60
Total Cash Per Share (mrq)                         0.29
Total Debt/Equity (mrq)                           91.33
Current Ratio (mrq)                                1.29
Book Value Per Share (mrq)                        13.67
Operating Cash Flow (ttm)                        952.80
Levered Free Cash Flow (ttm)                     353.91

In [29]:
DOL.balance()
SAP.balance()

In [30]:
DOL.balance_sheet.dropna()

Period Ending,2/3/2019,1/28/2018,1/29/2017,1/31/2016,Changes
DOL.TO,,,,,
Cash And Cash Equivalents,50371.0,54844.0,62015.0,59178.0,-0.148822
Net Receivables,42206.0,15263.0,15386.0,11118.0,2.796186
Inventory,581241.0,490927.0,465715.0,470195.0,0.236170
Other Current Assets,5505.0,286.0,8787.0,67542.0,-0.918495
Total Current Assets,709639.0,569969.0,559065.0,616933.0,0.150269
"Property, plant and equipment",589513.0,490988.0,437089.0,332225.0,0.774439
Goodwill,727782.0,727782.0,727782.0,727782.0,0.000000
Intangible Assets,148879.0,143046.0,136478.0,133378.0,0.116219
Other Assets,2082.0,2554.0,3037.0,3556.0,-0.414511
Total Assets,2177895.0,1934339.0,1863451.0,1813874.0,0.200687
Accounts Payable,79560.0,59674.0,56775.0,53347.0,0.491368
Short/Current Long Term Debt,7383.0,405192.0,278643.0,3542.0,1.084416
Other Current Liabilities,90322.0,130315.0,73705.0,78454.0,0.151273
Total Current Liabilities,288583.0,720945.0,513402.0,227026.0,0.271145
Long Term Debt,1890845.0,1260459.0,1050101.0,920772.0,1.053543
Other Liabilities,229285.0,205293.0,199664.0,199224.0,0.150890
Deferred Long Term Liability Charges,2082.0,2554.0,3037.0,3556.0,-0.414511
Total Liabilities,2411991.0,2186697.0,1763167.0,1347022.0,0.790610
Common Stock,408179.0,415787.0,420266.0,439296.0,-0.070834
Retained Earnings,-681914.0,-663421.0,-342957.0,-62375.0,9.932489
Treasury Stock,7189.0,-32423.0,-1346.0,69795.0,-0.896998
Capital Surplus,32450.0,27699.0,24321.0,20136.0,0.611542
Other Stockholder Equity,7189.0,-32423.0,-1346.0,69795.0,-0.896998
Total stockholders' equity,-234096.0,-252358.0,100284.0,466852.0,-1.501435
Net Tangible Assets,-1110757.0,-1123186.0,-763976.0,-394308.0,1.816978

In [31]:
SAP.balance_sheet.dropna()

Period Ending,3/31/2019,3/31/2018,3/31/2017,3/31/2016,Changes
SAP.TO,,,,,
Cash And Cash Equivalents,112700.0,122200.0,250500.0,164300.0,-0.314060
Net Receivables,1282300.0,996900.0,878200.0,842200.0,0.522560
Inventory,1681000.0,1234500.0,1172500.0,1077100.0,0.560672
Total Current Assets,3133800.0,2422400.0,2380500.0,2175800.0,0.440298
Long Term Investments,45200.0,47900.0,50800.0,48800.0,-0.073770
"Property, plant and equipment",3090400.0,2205700.0,2165500.0,2086000.0,0.481496
Goodwill,2597600.0,2417300.0,2240500.0,2194100.0,0.183902
Intangible Assets,876200.0,823100.0,662300.0,587000.0,0.492675
Other Assets,142400.0,86600.0,97000.0,80600.0,0.766749
Deferred Long Term Asset Charges,51000.0,34500.0,48100.0,22900.0,1.227074
Total Assets,9885600.0,8003000.0,7596600.0,7172300.0,0.378303
Accounts Payable,1392600.0,1028600.0,948000.0,846400.0,0.645321
Other Current Liabilities,36500.0,26500.0,91300.0,37100.0,-0.016173
Total Current Liabilities,1932500.0,1292800.0,1193400.0,1356800.0,0.424307
Long Term Debt,1943900.0,1420900.0,1500000.0,1208300.0,0.608789
Other Liabilities,588700.0,491600.0,580300.0,537400.0,0.095460
Total Liabilities,4465100.0,3205300.0,3273700.0,3102500.0,0.439194
Common Stock,991700.0,918900.0,871100.0,821000.0,0.207917
Retained Earnings,3715000.0,3216400.0,2639100.0,2485100.0,0.494910
Treasury Stock,713800.0,662400.0,812700.0,695700.0,0.026017
Other Stockholder Equity,713800.0,662400.0,812700.0,695700.0,0.026017
Total stockholders' equity,5420500.0,4797700.0,4322900.0,4001800.0,0.354515
Net Tangible Assets,1946700.0,1557300.0,1420100.0,1220700.0,0.594741

In [32]:
DOL.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list']]

In [34]:
DOL.financial()
SAP.financial()

In [35]:
DOL.financials.dropna()

Period Ending,2/3/2019,1/28/2018,1/29/2017,1/31/2016,Changes
DOL.TO,,,,,
Total Revenue,3548503.0,3266090.0,2963219.0,2650327.0,0.338893
Cost of Revenue,1838076.0,1665771.0,1523272.0,1361125.0,0.350409
Gross Profit,1710427.0,1600319.0,1439947.0,1289202.0,0.326733
Selling General and Administrative,826600.0,774207.0,736689.0,691742.0,0.194954
Total Operating Expenses,2744050.0,2510528.0,2317709.0,2100952.0,0.306098
Operating Income or Loss,804453.0,755562.0,645510.0,549375.0,0.464306
Total Other Income/Expenses Net,-48506.0,-39877.0,-33083.0,-21395.0,1.267165
Earnings Before Interest and Taxes,804453.0,755562.0,645510.0,549375.0,0.464306
Interest Expense,-48506.0,-39877.0,-33083.0,-21395.0,1.267165
Income Before Tax,755947.0,715685.0,612427.0,527980.0,0.431772
Income Tax Expense,207073.0,196275.0,166791.0,142834.0,0.449746
Net Income From Continuing Ops,548874.0,519410.0,445636.0,385146.0,0.425106
Net Income,548874.0,519410.0,445636.0,385146.0,0.425106
Net Income Applicable To Common Shares,548874.0,519410.0,445636.0,385146.0,0.425106

In [36]:
DOL.cash()
SAP.cash()

In [37]:
DOL.cashflow.dropna()
SAP.cashflow.dropna()

Period Ending,3/31/2019,3/31/2018,3/31/2017,3/31/2016,Changes
SAP.TO,,,,,
Net Income,755300.0,852500.0,727800.0,601100.0,0.256530
Depreciation,286000.0,219800.0,206100.0,198600.0,0.440081
Adjustments To Net Income,-84600.0,-154500.0,136100.0,95900.0,-1.882169
Changes In Other Operating Activities,-99200.0,-115200.0,2400.0,-45800.0,1.165939
Total Cash Flow From Operating Activities,884500.0,809100.0,1073600.0,849800.0,0.040833
Capital Expenditure,-370500.0,-277800.0,-236700.0,-183500.0,1.019074
Other Cash flows from Investing Activities,-400.0,-400.0,-1100.0,-2900.0,-0.862069
Total Cash Flows From Investing Activities,-1506600.0,-722900.0,-317800.0,-444100.0,2.392479
Dividends Paid,-254600.0,-243500.0,-228300.0,-210000.0,0.212381
Net Borrowings,800300.0,27400.0,-34300.0,-86700.0,-10.230681
Total Cash Flows From Financing Activities,606100.0,-204100.0,-679800.0,-338600.0,-2.790018
Effect Of Exchange Rate Changes,-9300.0,-10400.0,10200.0,24600.0,-1.378049
Change In Cash and Cash Equivalents,-9500.0,-128300.0,86200.0,91700.0,-1.103599

In [38]:
DOL.analyze()
SAP.analyze()

In [39]:
DOL.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['financials', 'fin_list'],
 ['cashflow', 'cash_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]

In [40]:
DOL.earnings_est

,Current Qtr. (Jul 2019),Next Qtr. (Oct 2019),Current Year (2020),Next Year (2021)
Earnings Estimate,,,,
No. of Analysts,10.00,10.00,12.00,12.00
Avg. Estimate,0.46,0.48,1.86,2.16
Low Estimate,0.39,0.45,1.82,2.08
High Estimate,0.49,0.51,1.95,2.34
Year Ago EPS,0.43,0.41,1.67,1.86

In [41]:
SAP.earnings_est

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2020),Next Year (2021)
Earnings Estimate,,,,
No. of Analysts,5.00,5.00,7.00,8.00
Avg. Estimate,0.43,0.50,1.76,2.01
Low Estimate,0.40,0.47,1.72,1.74
High Estimate,0.46,0.53,1.84,2.33
Year Ago EPS,0.42,0.44,1.59,1.76

In [42]:
DOL.revenue

,Current Qtr. (Jul 2019),Next Qtr. (Oct 2019),Current Year (2020),Next Year (2021)
Revenue Estimate,,,,
No. of Analysts,4,3,12,12
Avg. Estimate,938.15M,931.47M,3.79B,4.08B
Low Estimate,933M,929.4M,3.76B,4B
High Estimate,945.1M,933M,3.9B,4.27B
Year Ago Sales,868.45M,NaN,3.55B,3.79B
Sales Growth (year/est),8.00%,NaN,6.80%,7.50%

In [43]:
SAP.revenue

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2020),Next Year (2021)
Revenue Estimate,,,,
No. of Analysts,2,1,8,8
Avg. Estimate,3.77B,3.88B,15.04B,15.68B
Low Estimate,3.74B,3.88B,14.86B,15.47B
High Estimate,3.79B,3.88B,15.49B,16.21B
Year Ago Sales,NaN,NaN,13.5B,15.04B
Sales Growth (year/est),NaN,NaN,11.40%,4.20%

In [44]:
DOL.earnings_history

                 7/30/2018 10/30/2018 1/30/2019 4/29/2019
Earnings History
EPS Est.              0.44       0.42      0.55      0.34
EPS Actual            0.43       0.41      0.54      0.33
Difference           -0.01      -0.01     -0.01     -0.01
Surprise %          -2.30%     -2.40%    -1.80%    -2.90%

In [45]:
SAP.earnings_history

                 9/29/2018 12/30/2018 3/30/2019 6/29/2019
Earnings History
EPS Est.              0.44       0.45      0.38      0.41
EPS Actual            0.42       0.44      0.32      0.42
Difference           -0.02      -0.01     -0.06      0.01
Surprise %          -4.50%     -2.20%   -15.80%     2.40%

In [46]:
DOL.eps_trend

,Current Qtr. (Jul 2019),Next Qtr. (Oct 2019),Current Year (2020),Next Year (2021)
EPS Trend,,,,
Current Estimate,0.46,0.48,1.86,2.16
7 Days Ago,0.47,0.47,1.86,2.16
30 Days Ago,0.47,0.47,1.86,2.16
60 Days Ago,0.46,0.47,1.86,2.10
90 Days Ago,0.47,0.46,1.84,2.08

In [47]:
SAP.eps_trend

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2020),Next Year (2021)
EPS Trend,,,,
Current Estimate,0.43,0.50,1.76,2.01
7 Days Ago,0.43,0.48,1.75,2.02
30 Days Ago,0.43,0.49,1.75,2.02
60 Days Ago,0.43,0.49,1.77,2.04
90 Days Ago,0.49,0.55,2.04,2.27

In [48]:
DOL.eps_revisions

,Current Qtr. (Jul 2019),Next Qtr. (Oct 2019),Current Year (2020),Next Year (2021)
EPS Revisions,,,,
Up Last 7 Days,NaN,2.0,NaN,NaN
Up Last 30 Days,NaN,2.0,NaN,NaN
Down Last 7 Days,NaN,NaN,NaN,NaN
Down Last 30 Days,1.0,NaN,NaN,NaN

In [49]:
SAP.eps_revisions

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2020),Next Year (2021)
EPS Revisions,,,,
Up Last 7 Days,2.0,2.0,3.0,2.0
Up Last 30 Days,2.0,2.0,3.0,3.0
Down Last 7 Days,NaN,NaN,NaN,NaN
Down Last 30 Days,1.0,2.0,2.0,2.0

In [50]:
DOL.growth_estimates

                          DOL.TO  Industry  Sector  S&P 500
Growth Estimates
Current Qtr.               7.00%       NaN     NaN     0.00
Next Qtr.                 17.10%       NaN     NaN     0.08
Current Year              11.40%       NaN     NaN     0.03
Next Year                 16.10%       NaN     NaN     0.10
Next 5 Years (per annum)  11.74%       NaN     NaN     0.08
Past 5 Years (per annum)  23.10%       NaN     NaN      NaN

In [51]:
SAP.growth_estimates

                          SAP.TO  Industry  Sector  S&P 500
Growth Estimates
Current Qtr.               2.40%       NaN     NaN     0.00
Next Qtr.                 13.60%       NaN     NaN     0.08
Current Year              10.70%       NaN     NaN     0.03
Next Year                 14.20%       NaN     NaN     0.10
Next 5 Years (per annum)   4.91%       NaN     NaN     0.08
Past 5 Years (per annum)   2.26%       NaN     NaN      NaN