In [1]:
from finance_python import stock, sector, industry
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [2]:
def print_mult(item):
    for each in item:
        print(each, '\n', '--------------')

In [5]:
symbols = ['ECA.TO', 'BTE.TO', 'CPG.TO']

start = date.today() - timedelta(days=365)
end = date.today()

In [6]:
stock_loop = lambda x: stock(x, start, end)
stat = lambda x: stocks[x].stats()
bal = lambda x: stocks[x].balance()
fin = lambda x: stocks[x].financial()
ca = lambda x: stocks[x].cash()
an = lambda x: stocks[x].analyze()

In [7]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

13.109922170639038

In [8]:
timer_start = time.time()

for each in range(0, len(stocks)):
    stat(each)
    
timer_end = time.time()
print(timer_end - timer_start)

2.564255714416504

In [9]:
timer_start = time.time()

for each in range(0, len(stocks)):
    bal(each)
    
timer_end = time.time()
print(timer_end - timer_start)

2.599698543548584

In [10]:
timer_start = time.time()

for each in range(0, len(stocks)):
    fin(each)
    
timer_end = time.time()
print(timer_end - timer_start)

2.078807830810547

In [11]:
timer_start = time.time()

for each in range(0, len(stocks)):
    ca(each)
    
timer_end = time.time()
print(timer_end - timer_start)

2.137418031692505

In [12]:
timer_start = time.time()

for each in range(0, len(stocks)):
    an(each)
    
timer_end = time.time()
print(timer_end - timer_start)

4.277277708053589

In [14]:
ECA, BTE, CPG = stocks

In [16]:
price = list(map(lambda symbol, x: {symbol: stocks[x].price}, symbols, range(0, len(symbols))))

In [17]:
price

[{'ECA.TO': 7.35}, {'BTE.TO': 2.25}, {'CPG.TO': 6.27}]

In [18]:
ECA.earnings_est

,Current Qtr. (Dec 2018),Next Qtr. (Mar 2019),Current Year (2018),Next Year (2019)
Earnings Estimate,,,,
No. of Analysts,0.00,0.00,0.0,0.0
Avg. Estimate,0.00,0.00,0.0,0.0
Low Estimate,0.00,0.00,0.0,0.0
High Estimate,0.00,0.00,0.0,0.0
Year Ago EPS,0.12,0.16,NaN,NaN

In [21]:
CPG.earnings_est

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Earnings Estimate,,,,
No. of Analysts,5.00,5.00,9.00,9.00
Avg. Estimate,0.06,0.13,0.58,0.49
Low Estimate,-0.17,0.08,0.37,0.22
High Estimate,0.14,0.18,0.66,0.77
Year Ago EPS,0.06,0.59,0.21,0.58

In [ ]:
NTR.statistics.dropna(how='all')

In [20]:
BTE.earnings_est

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Earnings Estimate,,,,
No. of Analysts,5.00,5.00,6.00,6.00
Avg. Estimate,0.05,0.05,0.25,0.04
Low Estimate,0.02,0.04,0.23,-0.13
High Estimate,0.07,0.09,0.26,0.18
Year Ago EPS,0.07,0.10,-0.11,0.25

In [22]:
basic_df = lambda x: {'symbol': symbols[x], 'price': stocks[x].price, 'description': stocks[x].description, 'sector': stocks[x].sector}

In [23]:
dict = list(map(basic_df, range(0, len(stocks))))
df = DataFrame(dict)
df.sort_values('sector')

,description,price,sector,symbol
0,"Encana Corporation, together with its subsidia...",7.35,Oil Gas EP,ECA.TO
1,"Baytex Energy Corp., an oil and gas company, a...",2.25,Oil Gas EP,BTE.TO
2,"Crescent Point Energy Corp. explores, develops...",6.27,Oil Gas EP,CPG.TO

In [25]:
BTE.balance_sheet.dropna(how='all')

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
BTE.TO,,,,,
Cash And Cash Equivalents,NaN,NaN,2705.0,247.0,NaN
Net Receivables,111564.0,112844.0,112171.0,98093.0,0.137329
Other Current Assets,79582.0,18510.0,2219.0,106573.0,-0.253263
Total Current Assets,191146.0,131354.0,117095.0,204913.0,-0.067185
"Property, plant and equipment",6186052.0,4240757.0,4476990.0,5279168.0,0.171785
Other Assets,NaN,NaN,NaN,4417.0,NaN
Total Assets,6377198.0,4372111.0,4594085.0,5488498.0,0.161920
Accounts Payable,258114.0,144542.0,112973.0,267838.0,-0.036306
Other Current Liabilities,1986.0,52669.0,38036.0,NaN,NaN
Total Current Liabilities,260100.0,197211.0,151009.0,267838.0,-0.028891
Long Term Debt,2103940.0,1686322.0,1754070.0,1854929.0,0.134243
Other Liabilities,957734.0,573693.0,710045.0,951257.0,0.006809
Total Liabilities,3321774.0,2457226.0,2615124.0,3074024.0,0.080595
Common Stock,5701516.0,4443576.0,4422661.0,4296831.0,0.326912
Retained Earnings,-3333103.0,-3007794.0,-3094968.0,-2609784.0,0.277157
Treasury Stock,667874.0,463104.0,629863.0,705382.0,-0.053174
Capital Surplus,19137.0,15999.0,21405.0,22045.0,-0.131912
Other Stockholder Equity,667874.0,463104.0,629863.0,705382.0,-0.053174
Total stockholders' equity,3055424.0,1914885.0,1978961.0,2414474.0,0.265462
Net Tangible Assets,3055424.0,1914885.0,1978961.0,2414474.0,0.265462

In [27]:
BTE.statistics.dropna()

                                                  BTE.TO
Market Cap (intraday) 5                         128.0000
Enterprise Value 3                              304.0000
Forward P/E 1                                    57.2500
PEG Ratio (5 yr expected) 1                       0.1900
Price/Sales (ttm)                                 0.9200
Price/Book (mrq)                                  0.4200
Enterprise Value/Revenue 3                        2.1800
Enterprise Value/EBITDA 6                         3.1400
Beta (3Y Monthly)                                 1.9400
52-Week Change 3                                -36.2600
S&P500 52-Week Change 3                           3.7800
52 Week High 3                                    4.0300
52 Week Low 3                                     1.5300
50-Day Moving Average 3                           1.8079
200-Day Moving Average 3                          2.1805
Avg Vol (3 month) 3                               3.6700
Avg Vol (10 day) 3                                7.5900
Shares Outstanding 5                            557.9000
Float                                           551.4200
Shares Short (Aug 30, 2019) 4                    23.3800
Short Ratio (Aug 30, 2019) 4                      6.7800
Short % of Shares Outstanding (Aug 30, 2019) 4    4.1900
Shares Short (prior month Jul 31, 2019) 4        19.7900
Trailing Annual Dividend Rate 3                   0.0000
Trailing Annual Dividend Yield 3                  0.0000
Payout Ratio 4                                    0.0000
Profit Margin                                    -8.1700
Operating Margin (ttm)                           -4.7700
Return on Assets (ttm)                           -0.7800
Return on Equity (ttm)                           -4.5600
Revenue (ttm)                                   139.0000
Revenue Per Share (ttm)                           2.7200
Quarterly Revenue Growth (yoy)                   46.2000
Gross Profit (ttm)                              697.8200
EBITDA                                          966.6200
Net Income Avi to Common (ttm)                 -113.6600
Diluted EPS (ttm)                                -0.2280
Total Debt (mrq)                                196.0000
Total Debt/Equity (mrq)                          64.0100
Current Ratio (mrq)                               0.8400
Book Value Per Share (mrq)                        5.5000
Operating Cash Flow (ttm)                       728.1200
Levered Free Cash Flow (ttm)                    274.2900
Total Returns                                   -36.2600

In [29]:
BTE.cashflow.dropna()

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
BTE.TO,,,,,
Net Income,-325309.0,87174.0,-485184.0,-1142880.0,-0.715360
Depreciation,876668.0,498864.0,943635.0,1432508.0,-0.388019
Adjustments To Net Income,-91450.0,-238397.0,-182200.0,226789.0,-1.403238
Changes In Other Operating Activities,25413.0,-22433.0,-28886.0,33003.0,-0.229979
Total Cash Flow From Operating Activities,485322.0,325208.0,247365.0,549420.0,-0.116665
Capital Expenditure,-498226.0,-398147.0,-226834.0,-526686.0,-0.054036
Other Cash flows from Investing Activities,32435.0,33683.0,-135743.0,-79149.0,-1.409797
Total Cash Flows From Investing Activities,-463272.0,-352678.0,-292277.0,-597728.0,-0.224945
Net Borrowings,-21295.0,24765.0,-62569.0,-449837.0,-0.952661
Other Cash Flows from Financing Activities,-755.0,-755.0,-5076.0,-26400.0,-0.971402
Total Cash Flows From Financing Activities,-22050.0,24765.0,47370.0,46452.0,-1.474684

In [30]:
portfolio = industry()

In [32]:
portfolio.statistics(BTE.stats_list)

In [33]:
portfolio.statistics.dropna(how='all')

,ECA.TO,BTE.TO,CPG.TO,Averages
200-Day Moving Average 3,7.610000,2.1805,4.520000,4.770167
5 Year Average Dividend Yield 4,1.600000,NaN,6.560000,4.080000
50-Day Moving Average 3,5.870000,1.8079,4.410000,4.029300
52 Week High 3,17.410000,4.0300,8.580000,10.006667
52 Week Low 3,5.250000,1.5300,3.240000,3.340000
52-Week Change 3,-52.640000,-36.2600,-17.390000,-35.430000
Adjusted Returns,0.563177,NaN,0.526316,0.544746
Avg Vol (10 day) 3,11.010000,7.5900,6.340000,8.313333
Avg Vol (3 month) 3,7.350000,3.6700,3.630000,4.883333
Beta (3Y Monthly),2.770000,1.9400,1.330000,2.013333
Book Value Per Share (mrq),7.440000,5.5000,12.210000,8.383333
Current Ratio (mrq),0.800000,0.8400,0.590000,0.743333
Diluted EPS (ttm),1.030000,-0.2280,-3.930000,-1.042667
EBITDA,357.000000,966.6200,214.000000,512.540000
Enterprise Value 3,1673.000000,304.0000,734.000000,903.666667
Enterprise Value/EBITDA 6,4.690000,3.1400,3.420000,3.750000
Enterprise Value/Revenue 3,2.640000,2.1800,2.310000,2.376667
Float,134.000000,551.4200,545.850000,410.423333
Forward Annual Dividend Rate 4,0.100000,NaN,0.040000,0.070000
Forward Annual Dividend Yield 4,1.560000,NaN,0.700000,1.130000
Forward P/E 1,NaN,57.2500,12.510000,34.880000
Gross Profit (ttm),267.000000,697.8200,231.000000,398.606667
Levered Free Cash Flow (ttm),101.250000,274.2900,NaN,187.770000
Market Cap (intraday) 5,954.000000,128.0000,336.000000,472.666667
Net Income Avi to Common (ttm),116.000000,-113.6600,-216.000000,-71.220000
Operating Cash Flow (ttm),288.000000,728.1200,178.000000,398.040000
Operating Margin (ttm),30.380000,-4.7700,-95.360000,-23.250000
PEG Ratio (5 yr expected) 1,NaN,0.1900,0.050000,0.120000
Payout Ratio 4,5.720000,0.0000,NaN,2.860000
Price/Book (mrq),0.950000,0.4200,0.500000,0.623333
Price/Sales (ttm),1.500000,0.9200,1.060000,1.160000
Profit Margin,18.300000,-8.1700,-68.000000,-19.290000
Quarterly Revenue Growth (yoy),44.700000,46.2000,-12.800000,26.033333
Return on Assets (ttm),6.530000,-0.7800,-13.230000,-2.493333
Return on Equity (ttm),14.050000,-4.5600,-27.610000,-6.040000
Revenue (ttm),634.000000,139.0000,318.000000,363.666667
Revenue Per Share (ttm),5.620000,2.7200,5.780000,4.706667
S&P500 52-Week Change 3,3.780000,3.7800,3.780000,3.780000
Shares Outstanding 5,135.000000,557.9000,547.610000,413.503333
"Shares Short (Aug 30, 2019) 4",19.320000,23.3800,4.230000,15.643333
"Shares Short (prior month Jul 31, 2019) 4",13.800000,19.7900,5.550000,13.046667
"Short % of Float (Aug 30, 2019) 4",1.400000,NaN,NaN,1.400000
"Short % of Shares Outstanding (Aug 30, 2019) 4",1.440000,4.1900,0.770000,2.133333
"Short Ratio (Aug 30, 2019) 4",2.410000,6.7800,1.270000,3.486667
Total Cash (mrq),167.000000,NaN,9.700000,88.350000
Total Cash Per Share (mrq),0.120000,NaN,0.020000,0.070000
Total Debt (mrq),839.000000,196.0000,392.000000,475.666667
Total Debt/Equity (mrq),83.790000,64.0100,58.690000,68.830000
Total Returns,-51.080000,-36.2600,-16.690000,-34.676667
Trailing Annual Dividend Rate 3,0.070000,0.0000,0.200000,0.090000
Trailing Annual Dividend Yield 3,0.930000,0.0000,3.190000,1.373333
Trailing P/E,6.910000,NaN,NaN,6.910000

In [34]:
statistics_df = portfolio.statistics.dropna(how='all').T.sort_values("Diluted EPS (ttm)", ascending=False)[['Diluted EPS (ttm)', 'EBITDA', 'Levered Free Cash Flow (ttm)', 'Beta (3Y Monthly)', 'Profit Margin','Trailing Annual Dividend Yield 3']]

In [57]:
CPG.description

"Crescent Point Energy Corp. explores, develops, and produces light and medium crude oil and natural gas reserves in Western Canada and the United States. The company's crude oil and natural gas properties, and related assets are located in the provinces of Saskatchewan, Alberta, British Columbia, and Manitoba; and the states of North Dakota, Montana, and Utah. Crescent Point Energy Corp. is headquartered in Calgary, Canada."

In [35]:
statistics_df

,Diluted EPS (ttm),EBITDA,Levered Free Cash Flow (ttm),Beta (3Y Monthly),Profit Margin,Trailing Annual Dividend Yield 3
ECA.TO,1.030000,357.00,101.25,2.770000,18.30,0.930000
BTE.TO,-0.228000,966.62,274.29,1.940000,-8.17,0.000000
Averages,-1.042667,512.54,187.77,2.013333,-19.29,1.373333
CPG.TO,-3.930000,214.00,NaN,1.330000,-68.00,3.190000

In [36]:
portfolio.cashflow(BTE.cash_list)

In [37]:
portfolio.cashflow.dropna(how='all')

                                               ECA.TO    BTE.TO     CPG.TO
Adjustments To Net Income                   -1.050968 -1.403238   1.561007
Capital Expenditure                         -0.134666 -0.054036   0.122705
Change In Cash and Cash Equivalents         -6.059701       NaN  -3.275362
Changes In Accounts Receivables             -1.477707       NaN  -0.383242
Changes In Liabilities                     -11.071429       NaN  -0.600404
Changes In Other Operating Activities        4.454545 -0.229979  -6.416667
Depreciation                                -0.149380 -0.388019   0.679901
Dividends Paid                              -0.631579       NaN  -0.735439
Effect Of Exchange Rate Changes             -0.655172       NaN  -0.500000
Investments                                 -0.793358       NaN  80.050000
Net Borrowings                              -0.954774 -0.952661 -16.163462
Net Income                                  -1.206970 -0.715360   2.007240
Other Cash Flows from Financing Activities        NaN -0.971402  -2.802111
Other Cash flows from Investing Activities        NaN -1.409797  -0.511962
Total Cash Flow From Operating Activities    0.368233 -0.116665  -0.106750
Total Cash Flows From Financing Activities  -0.624288 -1.474684   0.957172
Total Cash Flows From Investing Activities   1.338346 -0.224945  -0.158405

In [38]:
portfolio.balance_sheet(BTE.bs_list)

In [39]:
portfolio.balance_sheet.dropna(how='all')

                                        ECA.TO    BTE.TO    CPG.TO  Averages
Accounts Payable                     -0.082677 -0.036306 -0.215631 -0.111538
Capital Surplus                       0.000000 -0.131912 -0.583082 -0.238331
Cash And Cash Equivalents             2.904059       NaN -0.380567  1.261746
Common Stock                          0.285833  0.326912  0.054822  0.222522
Deferred Long Term Asset Charges     -0.227567       NaN  0.550322  0.161377
Deferred Long Term Liability Charges -0.181818       NaN       NaN -0.181818
Goodwill                             -0.084946       NaN -0.031362 -0.058154
Long Term Debt                       -0.306582  0.134243 -0.046370 -0.072903
Long Term Investments                -0.863354       NaN -0.712871 -0.788113
Net Receivables                       0.085313  0.137329 -0.013456  0.069729
Net Tangible Assets                   0.449215  0.265462 -0.354934  0.119914
Other Assets                         -0.065054       NaN -0.003830 -0.034442
Other Current Assets                  0.509537 -0.253263 -0.502345 -0.082024
Other Current Liabilities             0.228125       NaN -0.416765 -0.094320
Other Liabilities                    -0.187809  0.006809 -0.449602 -0.210201
Other Stockholder Equity             -0.282014 -0.053174  0.000895 -0.111431
Property, plant and equipment        -0.089784  0.171785 -0.296339 -0.071446
Retained Earnings                    -3.153465  0.277157  0.693652 -0.727552
Short Term Investments                1.444444       NaN       NaN  1.444444
Short/Current Long Term Debt               NaN       NaN  0.386111  0.386111
Total Assets                         -0.017292  0.161920 -0.277339 -0.044237
Total Current Assets                  0.665215 -0.067185 -0.307683  0.096782
Total Current Liabilities             0.512378 -0.028891 -0.176414  0.102358
Total Liabilities                    -0.164073  0.080595 -0.183340 -0.088940
Total stockholders' equity            0.207556  0.265462 -0.346884  0.042045
Treasury Stock                       -0.282014 -0.053174  0.000895 -0.111431

In [40]:
portfolio.financials(BTE.fin_list)

In [41]:
portfolio.financials.dropna(how='all').T.sort_values('Gross Profit', ascending=False)

,Total Revenue,Cost of Revenue,Gross Profit,Selling General and Administrative,Others,Total Operating Expenses,Operating Income or Loss,Total Other Income/Expenses Net,Earnings Before Interest and Taxes,Interest Expense,Income Before Tax,Income Tax Expense,Net Income From Continuing Ops,Net Income,Net Income Applicable To Common Shares
ECA.TO,0.424804,0.140049,0.925793,-0.579439,-0.299817,0.046150,6.270386,-0.935582,6.270386,-0.428339,-1.145194,-1.033040,-1.206970,-1.206970,-1.206970
Averages,0.365472,0.125041,0.634687,-0.307300,-0.721617,0.254338,2.640011,-0.613702,2.640011,-0.037660,-0.132105,-0.367533,0.028303,0.028303,0.028303
CPG.TO,0.404433,0.194816,0.520995,-0.113846,-1.104184,0.975543,2.425427,-0.287914,2.425427,0.306519,1.461677,0.634733,2.007240,2.007240,2.007240
BTE.TO,0.267179,0.040257,0.457274,-0.228613,-0.760851,-0.258680,-0.775781,-0.617610,-0.775781,0.008839,-0.712799,-0.704291,-0.715360,-0.715360,-0.715360

In [42]:
GP = DataFrame(portfolio.financials.dropna(how='all').T.sort_values('Gross Profit', ascending=False)['Gross Profit'])

In [43]:
Debt = portfolio.balance_sheet.dropna(how='all').T.sort_values('Long Term Debt', ascending=False)['Long Term Debt']

In [44]:
NI = portfolio.cashflow.dropna(how='all').T.sort_values("Net Income", ascending=False)['Net Income']

In [45]:
pandas.concat([statistics_df, NI, Debt, GP], axis=1, sort=True).sort_values('Gross Profit', ascending=False)

,Diluted EPS (ttm),EBITDA,Levered Free Cash Flow (ttm),Beta (3Y Monthly),Profit Margin,Trailing Annual Dividend Yield 3,Net Income,Long Term Debt,Gross Profit
ECA.TO,1.030000,357.00,101.25,2.770000,18.30,0.930000,-1.20697,-0.306582,0.925793
Averages,-1.042667,512.54,187.77,2.013333,-19.29,1.373333,NaN,-0.072903,0.634687
CPG.TO,-3.930000,214.00,NaN,1.330000,-68.00,3.190000,2.00724,-0.046370,0.520995
BTE.TO,-0.228000,966.62,274.29,1.940000,-8.17,0.000000,-0.71536,0.134243,0.457274

In [46]:
cash_debt = BTE.balance_sheet.T['Cash And Cash Equivalents'][0]/BTE.balance_sheet.T['Long Term Debt'][0]

In [47]:
cash_debt*100

nan

In [48]:
BTE.balance_sheet.dropna(how='all')

Period Ending,12/31/2018,12/31/2017,12/31/2016,12/31/2015,Changes
BTE.TO,,,,,
Cash And Cash Equivalents,NaN,NaN,2705.0,247.0,NaN
Net Receivables,111564.0,112844.0,112171.0,98093.0,0.137329
Other Current Assets,79582.0,18510.0,2219.0,106573.0,-0.253263
Total Current Assets,191146.0,131354.0,117095.0,204913.0,-0.067185
"Property, plant and equipment",6186052.0,4240757.0,4476990.0,5279168.0,0.171785
Other Assets,NaN,NaN,NaN,4417.0,NaN
Total Assets,6377198.0,4372111.0,4594085.0,5488498.0,0.161920
Accounts Payable,258114.0,144542.0,112973.0,267838.0,-0.036306
Other Current Liabilities,1986.0,52669.0,38036.0,NaN,NaN
Total Current Liabilities,260100.0,197211.0,151009.0,267838.0,-0.028891
Long Term Debt,2103940.0,1686322.0,1754070.0,1854929.0,0.134243
Other Liabilities,957734.0,573693.0,710045.0,951257.0,0.006809
Total Liabilities,3321774.0,2457226.0,2615124.0,3074024.0,0.080595
Common Stock,5701516.0,4443576.0,4422661.0,4296831.0,0.326912
Retained Earnings,-3333103.0,-3007794.0,-3094968.0,-2609784.0,0.277157
Treasury Stock,667874.0,463104.0,629863.0,705382.0,-0.053174
Capital Surplus,19137.0,15999.0,21405.0,22045.0,-0.131912
Other Stockholder Equity,667874.0,463104.0,629863.0,705382.0,-0.053174
Total stockholders' equity,3055424.0,1914885.0,1978961.0,2414474.0,0.265462
Net Tangible Assets,3055424.0,1914885.0,1978961.0,2414474.0,0.265462

In [50]:
BTE.attributes

[['dividends', 'sector', 'description', 'history', 'price'],
 ['stats()', 'balance()', 'financial()', 'cash()', 'analyze()'],
 ['statistics', 'stats_list'],
 ['balance_sheet', 'bs_list'],
 ['financials', 'fin_list'],
 ['cashflow', 'cash_list'],
 ['earnings_est',
  'revenue',
  'earnings_history',
  'eps_trend',
  'eps_revisions',
  'growth_estimates',
  'a_list']]