In [1]:
from finance_python import stock, sector, industry
import sys, os, time
import numpy as np
import pandas
from datetime import datetime, date, timedelta
from pandas import DataFrame

In [2]:
def print_mult(item):
    for each in item:
        print(each, '\n', '--------------')

In [3]:
fire_data = [{'rev_change':.61}, {'revenue':94.6}, {'production_cost': 1.14},
                      {'volume': 29034}, {'volume_chg': .86}, {'gross margin': .58},
                      {'medical patients': 89700}]

cgc_data = [{'rev_change': -.038}, {'revenue':90.5},
                      {'volume': 10549}, {'volume_chg': .13}, {'gross margin': .43}]

In [4]:
symbols = ['APHA.TO', 'CRON.TO']

start = date.today() - timedelta(days=365)
end = date.today()

In [5]:
stock_loop = lambda x: stock(x, start, end)
stat = lambda x: stocks[x].stats()
bal = lambda x: stocks[x].balance()
fin = lambda x: stocks[x].financial()
ca = lambda x: stocks[x].cash()
an = lambda x: stocks[x].analyze()

In [6]:
timer_start = time.time()

stocks = list(map(stock_loop, symbols))

timer_end = time.time()
print(timer_end - timer_start)

6.337111711502075

In [7]:
timer_start = time.time()

for each in range(0, len(stocks)):
    stat(each)
    
timer_end = time.time()
print(timer_end - timer_start)

1.2199723720550537

In [8]:
timer_start = time.time()

for each in range(0, len(stocks)):
    bal(each)
    
timer_end = time.time()
print(timer_end - timer_start)

0.82131028175354

In [9]:
timer_start = time.time()

for each in range(0, len(stocks)):
    fin(each)
    
timer_end = time.time()
print(timer_end - timer_start)

0.7666974067687988

In [10]:
timer_start = time.time()

for each in range(0, len(stocks)):
    ca(each)
    
timer_end = time.time()
print(timer_end - timer_start)

0.964562177658081

In [11]:
timer_start = time.time()

for each in range(0, len(stocks)):
    an(each)
    
timer_end = time.time()
print(timer_end - timer_start)

1.656689167022705

In [12]:
tgod, fire= stocks

In [13]:
price = list(map(lambda symbol, x: {symbol: stocks[x].price}, symbols, range(0, len(symbols))))

In [14]:
price

[{'TGOD.TO': 2.39}, {'FIRE.TO': 1.31}]

In [15]:
tgod.description

'The Green Organic Dutchman Holdings Ltd., through its subsidiary, The Green Organic Dutchman Ltd., operates as a cannabinoid-based research and development company in Canada. It produces organic cannabis products, including organic dried cannabis, cannabis oils and edibles, fresh cannabis, and seeds for medical applications. The company also operates retail store. The Green Organic Dutchman Holdings Ltd. was incorporated in 2016 and is headquartered in Mississauga, Canada.'

In [16]:
tgod.statistics.dropna()

                                                 TGOD.TO
Market Cap (intraday) 5                         639.0300
Enterprise Value 3                              652.4000
PEG Ratio (5 yr expected) 1                       0.0800
Price/Sales (ttm)                                89.0000
Price/Book (mrq)                                  1.5900
Enterprise Value/Revenue 3                       90.8600
Enterprise Value/EBITDA 6                       -11.7000
52-Week Change 3                                -70.2700
S&P500 52-Week Change 3                           1.7500
52 Week High 3                                    8.0500
52 Week Low 3                                     2.1900
50-Day Moving Average 3                           2.9994
200-Day Moving Average 3                          3.6219
Avg Vol (3 month) 3                               1.6000
Avg Vol (10 day) 3                                2.4200
Shares Outstanding 5                            275.4500
Float                                           268.7000
Shares Short (Aug 30, 2019) 4                    12.1300
Short Ratio (Aug 30, 2019) 4                      6.8900
Short % of Shares Outstanding (Aug 30, 2019) 4    3.8100
Shares Short (prior month Jul 31, 2019) 4        10.1900
Payout Ratio 4                                    0.0000
Profit Margin                                     0.0000
Operating Margin (ttm)                         -800.7400
Return on Assets (ttm)                           -9.5200
Return on Equity (ttm)                          -17.0400
Revenue (ttm)                                     7.1800
Revenue Per Share (ttm)                           0.0300
Gross Profit (ttm)                                1.5000
EBITDA                                          -55.7500
Net Income Avi to Common (ttm)                  -59.8400
Diluted EPS (ttm)                                -0.2250
Total Cash (mrq)                                 68.7200
Total Cash Per Share (mrq)                        0.2500
Total Debt (mrq)                                  2.4000
Total Debt/Equity (mrq)                           0.6000
Current Ratio (mrq)                               4.6600
Book Value Per Share (mrq)                        1.4600
Operating Cash Flow (ttm)                       -70.8400
Levered Free Cash Flow (ttm)                   -247.5400
Total Returns                                   -70.2700

In [17]:
tgod.description

'The Green Organic Dutchman Holdings Ltd., through its subsidiary, The Green Organic Dutchman Ltd., operates as a cannabinoid-based research and development company in Canada. It produces organic cannabis products, including organic dried cannabis, cannabis oils and edibles, fresh cannabis, and seeds for medical applications. The company also operates retail store. The Green Organic Dutchman Holdings Ltd. was incorporated in 2016 and is headquartered in Mississauga, Canada.'

In [18]:
tgod.earnings_est

,Current Qtr. (Sep 2019),Next Qtr. (Dec 2019),Current Year (2019),Next Year (2020)
Earnings Estimate,,,,
No. of Analysts,3.00,3.00,6.00,6.00
Avg. Estimate,-0.04,-0.04,-0.17,0.00
Low Estimate,-0.06,-0.06,-0.21,-0.11
High Estimate,-0.02,-0.01,-0.10,0.24
Year Ago EPS,NaN,-0.07,-0.21,-0.17

In [19]:
basic_df = lambda x: {'symbol': symbols[x], 'price': stocks[x].price, 'description': stocks[x].description, 'sector': stocks[x].sector}

In [20]:
dict = list(map(basic_df, range(0, len(stocks))))
df = DataFrame(dict)
df.sort_values('sector')

,description,price,sector,symbol
0,"The Green Organic Dutchman Holdings Ltd., thro...",2.39,Drug Manufacturers - Specialty Generic,TGOD.TO
1,"The Supreme Cannabis Company, Inc. engages in ...",1.31,Drug Manufacturers - Specialty Generic,FIRE.TO

In [21]:
tgod.dividends

[                                                Date  Dividends
 0  *Close price adjusted for splits.**Adjusted cl...        NaN]

In [22]:
fire.dividends

[                                                Date  Dividends
 0  *Close price adjusted for splits.**Adjusted cl...        NaN]

In [23]:
portfolio = industry()

In [24]:
portfolio.statistics(tgod.stats_list)

In [25]:
portfolio.statistics.dropna(how='all')

                                                 TGOD.TO   FIRE.TO   Averages
200-Day Moving Average 3                          3.6219    1.7021    2.66200
50-Day Moving Average 3                           2.9994    1.3991    2.19925
52 Week High 3                                    8.0500    2.4300    5.24000
52 Week Low 3                                     2.1900    1.1500    1.67000
52-Week Change 3                                -70.2700  -39.3500  -54.81000
Avg Vol (10 day) 3                                2.4200    6.8994    4.65970
Avg Vol (3 month) 3                               1.6000    6.5762    4.08810
Beta (3Y Monthly)                                    NaN    4.2300    4.23000
Book Value Per Share (mrq)                        1.4600    0.7000    1.08000
Current Ratio (mrq)                               4.6600    3.4100    4.03500
Diluted EPS (ttm)                                -0.2250   -0.0520   -0.13850
EBITDA                                          -55.7500    4.1800  -25.78500
Enterprise Value 3                              652.4000  488.0200  570.21000
Enterprise Value/EBITDA 6                       -11.7000  116.6700   52.48500
Enterprise Value/Revenue 3                       90.8600   11.6700   51.26500
Float                                           268.7000  347.8800  308.29000
Forward P/E 1                                        NaN   11.4500   11.45000
Gross Profit (ttm)                                1.5000   36.8500   19.17500
Levered Free Cash Flow (ttm)                   -247.5400 -114.0900 -180.81500
Market Cap (intraday) 5                         639.0300  419.9900  529.51000
Net Income Avi to Common (ttm)                  -59.8400  -14.5000  -37.17000
Operating Cash Flow (ttm)                       -70.8400  -14.8400  -42.84000
Operating Margin (ttm)                         -800.7400   -4.4500 -402.59500
PEG Ratio (5 yr expected) 1                       0.0800    0.8000    0.44000
Payout Ratio 4                                    0.0000    0.0000    0.00000
Price/Book (mrq)                                  1.5900    1.8000    1.69500
Price/Sales (ttm)                                89.0000   10.0400   49.52000
Profit Margin                                     0.0000  -34.6500  -17.32500
Quarterly Revenue Growth (yoy)                       NaN  436.1000  436.10000
Return on Assets (ttm)                           -9.5200   -0.4400   -4.98000
Return on Equity (ttm)                          -17.0400   -8.1400  -12.59000
Revenue (ttm)                                     7.1800   41.8300   24.50500
Revenue Per Share (ttm)                           0.0300    0.1500    0.09000
S&P500 52-Week Change 3                           1.7500    1.7500    1.75000
Shares Outstanding 5                            275.4500  333.3200  304.38500
Shares Short (Aug 30, 2019) 4                    12.1300    1.1300    6.63000
Shares Short (prior month Jul 31, 2019) 4        10.1900    1.2600    5.72500
Short % of Shares Outstanding (Aug 30, 2019) 4    3.8100    0.3400    2.07500
Short Ratio (Aug 30, 2019) 4                      6.8900    1.3600    4.12500
Total Cash (mrq)                                 68.7200   54.8200   61.77000
Total Cash Per Share (mrq)                        0.2500    0.1600    0.20500
Total Debt (mrq)                                  2.4000   79.0500   40.72500
Total Debt/Equity (mrq)                           0.6000   37.4700   19.03500
Total Returns                                   -70.2700  -39.3500  -54.81000

In [26]:
statistics_df = portfolio.statistics.dropna(how='all').T.sort_values("Diluted EPS (ttm)", ascending=False)[['Diluted EPS (ttm)', 'Beta (3Y Monthly)', 'Profit Margin']]

In [27]:
statistics_df

          Diluted EPS (ttm)  Beta (3Y Monthly)  Profit Margin
FIRE.TO             -0.0520               4.23        -34.650
Averages            -0.1385               4.23        -17.325
TGOD.TO             -0.2250                NaN          0.000

In [28]:
portfolio.cashflow(tgod.cash_list)

In [29]:
portfolio.cashflow.dropna(how='all')

                                              TGOD.TO    FIRE.TO
Adjustments To Net Income                  -29.406883   1.545866
Capital Expenditure                         23.798166  62.091480
Change In Cash and Cash Equivalents          3.444849  -1.339831
Changes In Accounts Receivables             -0.000000  45.693482
Changes In Inventories                       8.254902   5.183486
Changes In Liabilities                      15.282754  31.189138
Changes In Other Operating Activities       44.337582 -25.945958
Depreciation                                 1.513540  28.473879
Effect Of Exchange Rate Changes            -10.147541        NaN
Investments                                 -0.000000        NaN
Net Borrowings                              16.607954   0.941633
Net Income                                  22.374640   2.304697
Other Cash Flows from Financing Activities  99.306991        NaN
Other Cash flows from Investing Activities  17.909290        NaN
Total Cash Flow From Operating Activities   37.757986   5.741720
Total Cash Flows From Financing Activities   2.670859  12.430227
Total Cash Flows From Investing Activities   1.338253  33.532118

In [30]:
portfolio.balance_sheet(tgod.bs_list)

In [31]:
portfolio.statistics.dropna(how='all')

                                                 TGOD.TO   FIRE.TO   Averages
200-Day Moving Average 3                          3.6219    1.7021    2.66200
50-Day Moving Average 3                           2.9994    1.3991    2.19925
52 Week High 3                                    8.0500    2.4300    5.24000
52 Week Low 3                                     2.1900    1.1500    1.67000
52-Week Change 3                                -70.2700  -39.3500  -54.81000
Avg Vol (10 day) 3                                2.4200    6.8994    4.65970
Avg Vol (3 month) 3                               1.6000    6.5762    4.08810
Beta (3Y Monthly)                                    NaN    4.2300    4.23000
Book Value Per Share (mrq)                        1.4600    0.7000    1.08000
Current Ratio (mrq)                               4.6600    3.4100    4.03500
Diluted EPS (ttm)                                -0.2250   -0.0520   -0.13850
EBITDA                                          -55.7500    4.1800  -25.78500
Enterprise Value 3                              652.4000  488.0200  570.21000
Enterprise Value/EBITDA 6                       -11.7000  116.6700   52.48500
Enterprise Value/Revenue 3                       90.8600   11.6700   51.26500
Float                                           268.7000  347.8800  308.29000
Forward P/E 1                                        NaN   11.4500   11.45000
Gross Profit (ttm)                                1.5000   36.8500   19.17500
Levered Free Cash Flow (ttm)                   -247.5400 -114.0900 -180.81500
Market Cap (intraday) 5                         639.0300  419.9900  529.51000
Net Income Avi to Common (ttm)                  -59.8400  -14.5000  -37.17000
Operating Cash Flow (ttm)                       -70.8400  -14.8400  -42.84000
Operating Margin (ttm)                         -800.7400   -4.4500 -402.59500
PEG Ratio (5 yr expected) 1                       0.0800    0.8000    0.44000
Payout Ratio 4                                    0.0000    0.0000    0.00000
Price/Book (mrq)                                  1.5900    1.8000    1.69500
Price/Sales (ttm)                                89.0000   10.0400   49.52000
Profit Margin                                     0.0000  -34.6500  -17.32500
Quarterly Revenue Growth (yoy)                       NaN  436.1000  436.10000
Return on Assets (ttm)                           -9.5200   -0.4400   -4.98000
Return on Equity (ttm)                          -17.0400   -8.1400  -12.59000
Revenue (ttm)                                     7.1800   41.8300   24.50500
Revenue Per Share (ttm)                           0.0300    0.1500    0.09000
S&P500 52-Week Change 3                           1.7500    1.7500    1.75000
Shares Outstanding 5                            275.4500  333.3200  304.38500
Shares Short (Aug 30, 2019) 4                    12.1300    1.1300    6.63000
Shares Short (prior month Jul 31, 2019) 4        10.1900    1.2600    5.72500
Short % of Shares Outstanding (Aug 30, 2019) 4    3.8100    0.3400    2.07500
Short Ratio (Aug 30, 2019) 4                      6.8900    1.3600    4.12500
Total Cash (mrq)                                 68.7200   54.8200   61.77000
Total Cash Per Share (mrq)                        0.2500    0.1600    0.20500
Total Debt (mrq)                                  2.4000   79.0500   40.72500
Total Debt/Equity (mrq)                           0.6000   37.4700   19.03500
Total Returns                                   -70.2700  -39.3500  -54.81000

In [32]:
portfolio.financials(tgod.fin_list)

In [33]:
portfolio.financials.dropna(how='all').T.sort_values('Gross Profit', ascending=False)

,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Total Operating Expenses,Operating Income or Loss,Total Other Income/Expenses Net,Earnings Before Interest and Taxes,Interest Expense,Income Before Tax,Income Tax Expense,Net Income From Continuing Ops,Net Income,Net Income Applicable To Common Shares
TGOD.TO,-1.955927,2.746134,2.94669,24.720546,28.183580,26.965924,3.934048,26.965924,-0.000000,21.451176,2.670284,22.374640,22.374640,22.374640
Averages,-1.955927,2.746134,2.94669,17.741098,18.678331,13.199495,57.034680,13.199495,27.733052,11.600740,2.670284,12.339668,12.339668,12.339668
FIRE.TO,NaN,NaN,NaN,10.761650,9.173082,-0.566934,110.135312,-0.566934,55.466104,1.750304,NaN,2.304697,2.304697,2.304697

In [34]:
GP = DataFrame(portfolio.financials.dropna(how='all').T.sort_values('Gross Profit', ascending=False)['Gross Profit'])

In [35]:
Debt = portfolio.balance_sheet.dropna(how='all').T.sort_values('Long Term Debt', ascending=False)['Long Term Debt']

In [36]:
NI = portfolio.cashflow.dropna(how='all').T.sort_values("Net Income", ascending=False)['Net Income']

In [37]:
pandas.concat([statistics_df, NI, Debt, GP], axis=1, sort=True).sort_values('Diluted EPS (ttm)', ascending=False)

,Diluted EPS (ttm),Beta (3Y Monthly),Profit Margin,Net Income,Long Term Debt,Gross Profit
FIRE.TO,-0.0520,4.23,-34.650,2.304697,146.296441,NaN
Averages,-0.1385,4.23,-17.325,NaN,146.296441,2.746134
TGOD.TO,-0.2250,NaN,0.000,22.374640,NaN,2.746134

In [38]:
cash_debt = tgod.statistics.T['Total Cash (mrq)'][0]/tgod.statistics.T['Total Debt (mrq)'][0]

In [39]:
cash_debt*100

2863.3333333333335

In [40]:
cash_debt = tgod.statistics.T['Total Cash (mrq)'][0]/tgod.statistics.T['Total Debt (mrq)'][0]

In [41]:
cash_debt*100

2863.3333333333335

In [42]:
tgod.statistics.dropna()

                                                 TGOD.TO
Market Cap (intraday) 5                         639.0300
Enterprise Value 3                              652.4000
PEG Ratio (5 yr expected) 1                       0.0800
Price/Sales (ttm)                                89.0000
Price/Book (mrq)                                  1.5900
Enterprise Value/Revenue 3                       90.8600
Enterprise Value/EBITDA 6                       -11.7000
52-Week Change 3                                -70.2700
S&P500 52-Week Change 3                           1.7500
52 Week High 3                                    8.0500
52 Week Low 3                                     2.1900
50-Day Moving Average 3                           2.9994
200-Day Moving Average 3                          3.6219
Avg Vol (3 month) 3                               1.6000
Avg Vol (10 day) 3                                2.4200
Shares Outstanding 5                            275.4500
Float                                           268.7000
Shares Short (Aug 30, 2019) 4                    12.1300
Short Ratio (Aug 30, 2019) 4                      6.8900
Short % of Shares Outstanding (Aug 30, 2019) 4    3.8100
Shares Short (prior month Jul 31, 2019) 4        10.1900
Payout Ratio 4                                    0.0000
Profit Margin                                     0.0000
Operating Margin (ttm)                         -800.7400
Return on Assets (ttm)                           -9.5200
Return on Equity (ttm)                          -17.0400
Revenue (ttm)                                     7.1800
Revenue Per Share (ttm)                           0.0300
Gross Profit (ttm)                                1.5000
EBITDA                                          -55.7500
Net Income Avi to Common (ttm)                  -59.8400
Diluted EPS (ttm)                                -0.2250
Total Cash (mrq)                                 68.7200
Total Cash Per Share (mrq)                        0.2500
Total Debt (mrq)                                  2.4000
Total Debt/Equity (mrq)                           0.6000
Current Ratio (mrq)                               4.6600
Book Value Per Share (mrq)                        1.4600
Operating Cash Flow (ttm)                       -70.8400
Levered Free Cash Flow (ttm)                   -247.5400
Total Returns                                   -70.2700

In [43]:
change = tgod.financials.T['Gross Profit'][0] - tgod.financials.T['Gross Profit'][-3]

In [44]:
change*100/tgod.financials.T['Gross Profit'][-3]

399.0

In [45]:
change = fire.financials.T['Gross Profit'][0] - fire.financials.T['Gross Profit'][-3]

In [46]:
x = change/fire.financials.T['Gross Profit'][-3]

In [47]:
x

79.19907773127989

In [48]:
fire.financials.T['Gross Profit']

Period Ending
6/30/2019    36853.000
6/30/2018     8924.000
6/30/2017      459.519
6/30/2016          NaN
Changes            NaN
Name: Gross Profit, dtype: float64