In [1]:
import sys
sys.path.append("C:\\Users\\rayde\\iCloudDrive\\GitHub\\finance_python")
from stock_scraper_v3 import get_data
from balance_sheet import balance_sheet
from financials import financials
from datetime import datetime, date
from pandas import DataFrame
import numpy as np
import pandas
from industry import industry

In [2]:
retail = ['ATD-B.TO', 'L.TO', 'WN.TO', 'DOL-B.TO', 'MRU-B.TO', 'NWC.TO']
start = date(2018, 7, 19)
end = date(2019, 8, 2)

In [3]:
dict1 = list(map(lambda x: {x: get_data(x, start, end)}, retail))

DOL-B.TO : error occurred in perc_change method
DOL-B.TO : This stock probably has no price information.
MRU-B.TO : error occurred in perc_change method
MRU-B.TO : This stock probably has no price information.

In [4]:
dict1[0]['ATD-B.TO'].bsd.bs

ATD-B.TO                    4/28/2019  4/29/2018  4/30/2017  4/24/2016
Retained Earnings             9053500    7405000    6083500    5019900
Total stockholders' equity    8923200    7560400    6009600    5041100
Net Tangible Assets           2295700     666600    2969300    2512000
Long Term Debt                5775800    9035700    3324800    3030700
Total Current Liabilities     5582000    4186000    3251900    2659800
Net Receivables               2027000    2240200    1596300    1403300
Total Current Assets          4321300    4477100    3172900    2881800
Intangible Assets              944400    1048000     670100     755900
Cash And Cash Equivalents      706400     666200     637600     599400
Net Current Assets           -1260700     291100     -79000     222000

In [5]:
retail_list = list(map(lambda x, y: dict1[x][y].bsd, range(0, len(retail)), retail))

In [6]:
retail_list

[<balance_sheet.balance_sheet at 0x294b41af8d0>,
 <balance_sheet.balance_sheet at 0x294b5d35390>,
 <balance_sheet.balance_sheet at 0x294b6dc1748>,
 <balance_sheet.balance_sheet at 0x294b6e5dd30>,
 <balance_sheet.balance_sheet at 0x294b6e5c6a0>,
 <balance_sheet.balance_sheet at 0x294b6eb6550>]

In [11]:
for x in enumerate(retail_list):
    if hasattr(x[1], 'changes'):
        pass
    else:
        retail_list.pop(x[0])
        continue

In [12]:
retail_list2 = list(map(lambda x, y: pandas.DataFrame(retail_list[x].changes), range(0, len(retail_list)), retail_list))

In [ ]:
retail_list = list(map(lambda x, y: dict1[x][y].bsd.stats, range(0, len(retail)), retail))

In [13]:
retail_list2[0].join(retail_list2[1], sort=True).join(retail_list2[2], sort=True).join(retail_list2[3], sort=True)

                            ATD-B.TO      L.TO     WN.TO    NWC.TO
Cash And Cash Equivalents   0.060342 -0.407675 -0.252212  0.528140
Intangible Assets          -0.098855 -0.054902 -0.048996  0.041751
Long Term Debt             -0.360780 -0.347860  0.356790  0.166826
Net Current Assets         -5.330814  0.091958 -0.230164  0.220751
Net Receivables            -0.095170  0.049374  0.061224  0.118343
Net Tangible Assets         2.443894 -0.774286 -0.019900  0.113504
Retained Earnings           0.222620 -0.132576 -0.302031  0.161386
Total Current Assets       -0.034799  0.027368 -0.048784  0.124853
Total Current Liabilities   0.333493  0.007291  0.006814  0.033111
Total stockholders' equity  0.180255 -0.075740  0.014894  0.104292

In [ ]:
retail_list2[4]

In [ ]:
retail_list

In [ ]:
for x in enumerate(retail_list):
    if retail_list[x[0]].iloc[0].name == 0:
        retail_list.pop(x[0])

In [ ]:
retail_list

In [ ]:
indust = industry(retail_list)

In [ ]:
d = indust.concat_df
d = d.fillna(np.nan)

In [ ]:
d = indust.concat_df
d = d.fillna(np.nan)
d = d.infer_objects()
d['Average'] = d[1:].mean(axis=1)
d['Average'] = pandas.to_numeric(d['Average'], errors='coerce')

In [ ]:
form = lambda x: float(d['Average'][x])
rnd = lambda x: round(d['Average'][x], 2)

In [ ]:
d1 = d.iloc[1:]
d['Average'] = d.iloc[1:].mean(axis=1)
d_T = d.T.style.format({'perc_change': lambda x: "{:.2f}%".format(x*100), 
                        'price': lambda x: "${:.2f}".format(x), 
                        'dividend yield': lambda x: "{:.2f}%".format(x*100), 
                        'total_return': lambda x: "{:.2f}%".format(x*100), 
                        'returns (adj)': lambda x: "{:.2f}%".format(x*100), 
                        '1/PE': lambda x: "{:.2f}%".format(x*100), 
                       'dividend': lambda x: "${:.2f}".format(x),
                       'volume': lambda x: "{:,.0f}".format(x),
                       'marketcap': lambda x: "{:,.0f}".format(x),
                        'shares outstanding': lambda x: "{:,.0f}".format(x)
                       })
d_T